n8n/cedetu_content_generator.json
{
  "name": "CEDETU Content Generator",
  "nodes": [
    {
      "id": "webhook-trigger-1",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        100,
        150
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "daily-content-trigger",
        "responseMode": "onReceived",
        "options": {}
      },
      "webhookId": "9faffaaa-a5be-4968-9468-4f077dc01ae9"
    },
    {
      "id": "code-dates-paths-1",
      "name": "Get Dates & Paths",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ],
      "parameters": {
        "jsCode": "let dateStr;\nlet ref = \"main\";\ntry {\n  const inputData = $input.first();\n  if (inputData && inputData.json && inputData.json.body) {\n    if (inputData.json.body.date) dateStr = inputData.json.body.date;\n    if (inputData.json.body.commit) ref = inputData.json.body.commit;\n  }\n} catch (e) {}\n\nif (!dateStr) {\n  const now = new Date();\n  const gtOffset = -6 * 60;\n  const gtTime = new Date(now.getTime() + gtOffset * 60000);\n  const yyyy = gtTime.getUTCFullYear();\n  const mm = String(gtTime.getUTCMonth() + 1).padStart(2, '0');\n  const dd = String(gtTime.getUTCDate()).padStart(2, '0');\n  dateStr = `${yyyy}-${mm}-${dd}`;\n}\n\nconst repoOwner = \"apolancog-dev\";\nconst repoName = \"centrodetutorias\";\nconst branch = \"main\";\nconst baseRawUrl = `https://raw.githubusercontent.com/${repoOwner}/${repoName}/${ref}/content-generator/output/${dateStr}`;\nconst githubFilePath = `content-generator/output/${dateStr}/manifest.json`;\nconst cacheBuster = Date.now();\n\nreturn [{\n  json: {\n    videoUrl: `${baseRawUrl}/vertical_video.mp4?t=${cacheBuster}`,\n    date: dateStr,\n    manifestUrl: `${baseRawUrl}/manifest.json?t=${cacheBuster}`,\n    copyUrl: `${baseRawUrl}/copy.json?t=${cacheBuster}`,\n    imageUrl: `${baseRawUrl}/feed_1080x1080.png?t=${cacheBuster}`,\n    githubFilePath: githubFilePath,\n    repoOwner: repoOwner,\n    repoName: repoName,\n    branch: branch\n  }\n}];"
      }
    },
    {
      "id": "read-manifest-1",
      "name": "Read manifest.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        500,
        200
      ],
      "parameters": {
        "url": "={{ $json.manifestUrl }}",
        "method": "GET",
        "authentication": "none",
        "options": {}
      }
    },
    {
      "id": "read-copy-1",
      "name": "Read copy.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        500,
        400
      ],
      "parameters": {
        "url": "={{ $('Get Dates & Paths').item.json.copyUrl }}",
        "method": "GET",
        "authentication": "none",
        "options": {}
      }
    },
    {
      "id": "parse-manifest-copy-1",
      "name": "Parse manifest & copy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "parameters": {
        "jsCode": "const manifestInput = $('Read manifest.json').first().json;\nconst copyInput = $('Read copy.json').first().json;\n\nlet manifest;\nif (typeof manifestInput.data === 'string') {\n  manifest = JSON.parse(manifestInput.data);\n} else if (manifestInput.data) {\n  manifest = manifestInput.data;\n} else {\n  manifest = manifestInput;\n}\n\nlet copy;\nif (typeof copyInput.data === 'string') {\n  copy = JSON.parse(copyInput.data);\n} else if (copyInput.data) {\n  copy = copyInput.data;\n} else {\n  copy = copyInput;\n}\n\nconst datesNode = $('Get Dates & Paths').first().json;\n\nreturn [{\n  json: {\n    date: datesNode.date,\n    githubFilePath: datesNode.githubFilePath,\n    repoOwner: datesNode.repoOwner,\n    repoName: datesNode.repoName,\n    branch: datesNode.branch,\n    imageUrl: datesNode.imageUrl,\n    manifest,\n    copy\n  }\n}];"
      }
    },
    {
      "id": "is-ready-review-1",
      "name": "Is Ready for Review?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        950,
        300
      ],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "check-status",
              "leftValue": "={{ $json.manifest.status }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "ready_for_human_review"
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        }
      }
    },
    {
      "id": "read-image-1",
      "name": "Read Feed Square Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1150,
        200
      ],
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "method": "GET",
        "authentication": "none",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "feedSquareBinary"
            }
          }
        }
      }
    },
    {
      "id": "telegram-send-preview-1",
      "name": "Telegram — Send Preview",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1350,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "C70mrh8zZbUll0Zw",
          "name": "Telegram account"
        }
      },
      "parameters": {
        "chatId": "724801911",
        "operation": "sendPhoto",
        "binaryData": true,
        "binaryPropertyName": "feedSquareBinary",
        "additionalFields": {
          "parse_mode": "Markdown",
          "caption": "=🎬 *PREVIEW DE CAMPAÑA ({{ $(\"Parse manifest & copy\").item.json.manifest.format === \"video\" ? \"VIDEO\" : \"CARRUSEL\" }}) - {{ $('Parse manifest & copy').item.json.copy.fecha }}*\n\n*Tema:* {{ $('Parse manifest & copy').item.json.copy.tema_del_dia }} ({{ $('Parse manifest & copy').item.json.copy.materia_prioritaria }})\n\n*Caption IG:*\n```\n{{ $('Parse manifest & copy').item.json.copy.caption_instagram }}\n```\n\n*CTA WhatsApp:* [Enlace wa.me]({{ $('Parse manifest & copy').item.json.copy.whatsapp_link }})"
        }
      },
      "webhookId": "2eefec34-decf-4868-9e66-f6966cd9c4ed"
    },
    {
      "id": "telegram-wait-approval-1",
      "name": "Telegram — Wait for Approval",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1550,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "C70mrh8zZbUll0Zw",
          "name": "Telegram account"
        }
      },
      "parameters": {
        "chatId": "724801911",
        "operation": "sendAndWait",
        "message": "=🤔 *¿Aprobar esta campaña para publicación orgánica?*\n\nFecha: {{ $('Parse manifest & copy').item.json.copy.fecha }}\nTema: {{ $('Parse manifest & copy').item.json.copy.tema_del_dia }}\n\nSi apruebas, actualizaremos el estado en el manifest.json a 'ready_to_publish'.",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "✅ Aprobar campaña",
            "disapproveLabel": "❌ Rechazar campaña"
          }
        }
      },
      "webhookId": "9b20eae1-3dd0-4385-b2c7-1ccc30f81464"
    },
    {
      "id": "is-approved-1",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1750,
        200
      ],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "check-approved",
              "leftValue": "={{ $json.data.approved }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              }
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        }
      }
    },
    {
      "id": "code-approved-status-1",
      "name": "Set Status Approved",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1950,
        100
      ],
      "parameters": {
        "jsCode": "const manifestNode = $('Parse manifest & copy').first().json;\nconst manifest = manifestNode.manifest;\nmanifest.status = 'ready_to_publish';\n\nreturn [{\n  json: {\n    manifest,\n    manifestContent: JSON.stringify(manifest, null, 2),\n    githubFilePath: manifestNode.githubFilePath,\n    repoOwner: manifestNode.repoOwner,\n    repoName: manifestNode.repoName,\n    branch: manifestNode.branch,\n    date: manifestNode.date\n  }\n}];"
      }
    },
    {
      "id": "write-approved-manifest-1",
      "name": "Write manifest.json (Approved)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2200,
        100
      ],
      "credentials": {
        "githubApi": {
          "id": "ZrJVlb7qQrRtylDx",
          "name": "GitHub account"
        }
      },
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "mode": "name",
          "value": "={{ $json.repoOwner }}"
        },
        "repository": {
          "mode": "name",
          "value": "={{ $json.repoName }}"
        },
        "filePath": "={{ $json.githubFilePath }}",
        "fileContent": "={{ $json.manifestContent }}",
        "commitMessage": "=chore: approve campaign ({{ $json.date }})",
        "additionalParameters": {
          "branch": {
            "branch": "={{ $json.branch }}"
          }
        }
      },
      "webhookId": "6b1058f6-91a7-42e0-8fc0-2675abf1c4c3"
    },
    {
      "id": "telegram-approved-notify-1",
      "name": "Telegram — Approved Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4750,
        100
      ],
      "credentials": {
        "telegramApi": {
          "id": "C70mrh8zZbUll0Zw",
          "name": "Telegram account"
        }
      },
      "parameters": {
        "chatId": "724801911",
        "operation": "sendMessage",
        "text": "={{ $json.message }}"
      },
      "webhookId": "e7e37d6d-0faf-425a-b095-41e3f8fba334"
    },
    {
      "id": "meta-get-page-info-1",
      "name": "Get Page Info (Meta)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2450,
        100
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "Hznf2ZMg4wObho4L",
          "name": "Meta Page Access Token"
        }
      },
      "parameters": {
        "url": "https://graph.facebook.com/v19.0/me",
        "method": "GET",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      }
    },
    {
      "id": "meta-get-instagram-account-1",
      "name": "Get Instagram Account (Meta)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2700,
        100
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "Hznf2ZMg4wObho4L",
          "name": "Meta Page Access Token"
        }
      },
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $json.id }}?fields=instagram_business_account",
        "method": "GET",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {}
      }
    },
    {
      "id": "code-rejected-status-1",
      "name": "Set Status Rejected",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1950,
        300
      ],
      "parameters": {
        "jsCode": "const manifestNode = $('Parse manifest & copy').first().json;\nconst manifest = manifestNode.manifest;\nmanifest.status = 'review_failed';\n\nreturn [{\n  json: {\n    manifest,\n    manifestContent: JSON.stringify(manifest, null, 2),\n    githubFilePath: manifestNode.githubFilePath,\n    repoOwner: manifestNode.repoOwner,\n    repoName: manifestNode.repoName,\n    branch: manifestNode.branch,\n    date: manifestNode.date\n  }\n}];"
      }
    },
    {
      "id": "write-rejected-manifest-1",
      "name": "Write manifest.json (Rejected)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2200,
        300
      ],
      "credentials": {
        "githubApi": {
          "id": "ZrJVlb7qQrRtylDx",
          "name": "GitHub account"
        }
      },
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "mode": "name",
          "value": "={{ $json.repoOwner }}"
        },
        "repository": {
          "mode": "name",
          "value": "={{ $json.repoName }}"
        },
        "filePath": "={{ $json.githubFilePath }}",
        "fileContent": "={{ $json.manifestContent }}",
        "commitMessage": "=chore: reject campaign ({{ $json.date }})",
        "additionalParameters": {
          "branch": {
            "branch": "={{ $json.branch }}"
          }
        }
      },
      "webhookId": "967cceaa-1025-43d5-a64c-6ad178f32b6a"
    },
    {
      "id": "telegram-rejected-notify-1",
      "name": "Telegram — Rejected Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2450,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "C70mrh8zZbUll0Zw",
          "name": "Telegram account"
        }
      },
      "parameters": {
        "chatId": "724801911",
        "operation": "sendMessage",
        "text": "=❌ *Campaña Rechazada*\n\nLa campaña del {{ $json.date }} ha sido marcada como 'review_failed' y no se publicará."
      },
      "webhookId": "568f4293-b0e1-4a26-b2e4-684a79b47057"
    },
    {
      "id": "stop-not-ready-1",
      "name": "Stop - Not Ready",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1150,
        450
      ],
      "parameters": {}
    },
    {
      "id": "prepare-fb-carousel-items-1",
      "name": "Prepare FB Carousel Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2700,
        -100
      ],
      "parameters": {
        "jsCode": "const parseNode = $('Parse manifest & copy').first().json;\nconst date = parseNode.date;\nconst repoOwner = parseNode.repoOwner;\nconst repoName = parseNode.repoName;\nconst branch = parseNode.branch;\nconst cacheBuster = Date.now();\n\nconst items = [];\nfor (let i = 1; i <= 5; i++) {\n  const slideNum = String(i).padStart(2, '0');\n  const slideUrl = `https://raw.githubusercontent.com/${repoOwner}/${repoName}/${branch}/content-generator/output/${date}/carousel/slide_${slideNum}_1080x1350.png?t=${cacheBuster}`;\n  items.push({ json: { slideUrl } });\n}\nreturn items;"
      }
    },
    {
      "id": "upload-fb-photo-1",
      "name": "Upload FB Photo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2950,
        -100
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "Hznf2ZMg4wObho4L",
          "name": "Meta Page Access Token"
        }
      },
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $('Get Page Info (Meta)').item.json.id }}/photos",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { url: $json.slideUrl, published: false } }}",
        "options": {}
      }
    },
    {
      "id": "aggregate-fb-photo-ids-1",
      "name": "Aggregate FB Photo IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        -100
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst attachedMedia = items.map(item => ({ media_fbid: item.json.id }));\n\nreturn [{\n  json: {\n    attachedMediaJson: JSON.stringify(attachedMedia)\n  }\n}];"
      }
    },
    {
      "id": "publish-fb-carousel-1",
      "name": "Publish FB Carousel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3450,
        -100
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "Hznf2ZMg4wObho4L",
          "name": "Meta Page Access Token"
        }
      },
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $('Get Page Info (Meta)').item.json.id }}/feed",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { message: $('Parse manifest & copy').item.json.copy.caption_facebook, attached_media: JSON.parse($json.attachedMediaJson) } }}",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "prepare-ig-carousel-items-1",
      "name": "Prepare IG Carousel Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2950,
        100
      ],
      "parameters": {
        "jsCode": "const parseNode = $('Parse manifest & copy').first().json;\nconst date = parseNode.date;\nconst repoOwner = parseNode.repoOwner;\nconst repoName = parseNode.repoName;\nconst branch = parseNode.branch;\nconst cacheBuster = Date.now();\n\nconst items = [];\nfor (let i = 1; i <= 5; i++) {\n  const slideNum = String(i).padStart(2, '0');\n  const slideUrl = `https://raw.githubusercontent.com/${repoOwner}/${repoName}/${branch}/content-generator/output/${date}/carousel/slide_${slideNum}_1080x1350.png?t=${cacheBuster}`;\n  items.push({ json: { slideUrl } });\n}\nreturn items;"
      }
    },
    {
      "id": "create-ig-carousel-container-1",
      "name": "Create IG Carousel Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3200,
        100
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "Hznf2ZMg4wObho4L",
          "name": "Meta Page Access Token"
        }
      },
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $('Get Instagram Account (Meta)').item.json.instagram_business_account.id }}/media",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { image_url: $json.slideUrl, is_carousel_item: true } }}",
        "options": {}
      }
    },
    {
      "id": "aggregate-ig-container-ids-1",
      "name": "Aggregate IG Container IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3450,
        100
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\nconst children = items.map(item => item.json.id).join(',');\n\nreturn [{\n  json: {\n    children\n  }\n}];"
      }
    },
    {
      "id": "create-ig-carousel-parent-1",
      "name": "Create IG Carousel Parent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3800,
        100
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "Hznf2ZMg4wObho4L",
          "name": "Meta Page Access Token"
        }
      },
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $('Get Instagram Account (Meta)').item.json.instagram_business_account.id }}/media",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { media_type: 'CAROUSEL', caption: $('Parse manifest & copy').item.json.copy.caption_instagram, children: $json.children } }}",
        "options": {}
      }
    },
    {
      "id": "publish-ig-carousel-1",
      "name": "Publish IG Carousel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4050,
        100
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "Hznf2ZMg4wObho4L",
          "name": "Meta Page Access Token"
        }
      },
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $('Get Instagram Account (Meta)').item.json.instagram_business_account.id }}/media_publish",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { creation_id: $json.id } }}",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "create-ig-story-container-1",
      "name": "Create IG Story Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2950,
        300
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "Hznf2ZMg4wObho4L",
          "name": "Meta Page Access Token"
        }
      },
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $('Get Instagram Account (Meta)').item.json.instagram_business_account.id }}/media",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Parse manifest & copy').item.json.manifest.format === 'video' ? { media_type: 'STORIES', video_url: 'https://centrodetutorias.com/content-generator/output/' + $('Parse manifest & copy').item.json.date + '/vertical_video.mp4?t=' + Date.now() } : { media_type: 'STORIES', image_url: 'https://raw.githubusercontent.com/apolancog-dev/centrodetutorias/main/content-generator/output/' + $('Parse manifest & copy').item.json.date + '/vertical_1080x1920.png?t=' + Date.now() } }}",
        "options": {}
      }
    },
    {
      "id": "publish-ig-story-1",
      "name": "Publish IG Story",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3200,
        300
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "Hznf2ZMg4wObho4L",
          "name": "Meta Page Access Token"
        }
      },
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $('Get Instagram Account (Meta)').item.json.instagram_business_account.id }}/media_publish",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { creation_id: $json.id } }}",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "merge-fb-ig-feed-1",
      "name": "Merge FB and IG Feed",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        4300,
        0
      ],
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      }
    },
    {
      "id": "merge-feed-story-1",
      "name": "Merge Feed and Story",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        4500,
        100
      ],
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      }
    },
    {
      "id": "c00711df-d906-4448-983f-b986502c9321",
      "name": "Wait 15s (IG Carousel)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3580,
        100
      ],
      "parameters": {
        "amount": 15,
        "resume": "timeInterval",
        "unit": "seconds"
      },
      "webhookId": "4e41b27f-83a8-4ef5-942a-2271533a01fe"
    },
    {
      "id": "prepare-tiktok-slides-1",
      "name": "Prepare TikTok Slides",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3250,
        -300
      ],
      "parameters": {
        "jsCode": "const parseNode = $('Parse manifest & copy').first().json;\nconst date = parseNode.date;\nconst cacheBuster = Date.now();\n\nconst photoImages = [];\nfor (let i = 1; i <= 5; i++) {\n  const slideNum = String(i).padStart(2, '0');\n  photoImages.push(`https://centrodetutorias.com/content-generator/output/${date}/carousel/slide_${slideNum}_1080x1350.jpg?t=${cacheBuster}`);\n}\nreturn [{ json: { photoImages } }];"
      }
    },
    {
      "id": "publish-to-tiktok-1",
      "name": "Publish to TikTok",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3450,
        -300
      ],
      "credentials": {},
      "parameters": {
        "url": "https://open.tiktokapis.com/v2/post/publish/content/init/",
        "method": "POST",
        "authentication": "none",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { post_mode: 'DIRECT_POST', media_type: 'PHOTO', post_info: { title: 'Apoyo Académico - CEDETU', description: $('Parse manifest & copy').item.json.copy.texto_tiktok, privacy_level: 'SELF_ONLY', disable_comment: false, disable_duet: false, disable_stitch: false }, source_info: { source: 'PULL_FROM_URL', photo_cover_index: 0, photo_images: $json.photoImages } } }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Refresh TikTok Token (HTTP Request)').item.json.access_token }}"
            }
          ]
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "merge-all-socials-1",
      "name": "Merge All Socials",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        4700,
        200
      ],
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      }
    },
    {
      "id": "read-tiktok-tokens-github",
      "name": "Read TikTok Tokens (GitHub)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2450,
        -300
      ],
      "credentials": {
        "githubApi": {
          "id": "ZrJVlb7qQrRtylDx",
          "name": "GitHub account"
        }
      },
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "mode": "name",
          "value": "={{ $('Parse manifest & copy').item.json.repoOwner }}"
        },
        "repository": {
          "mode": "name",
          "value": "={{ $('Parse manifest & copy').item.json.repoName }}"
        },
        "filePath": "tiktok_tokens.json",
        "additionalParameters": {
          "branch": {
            "branch": "={{ $('Parse manifest & copy').item.json.branch }}"
          }
        }
      }
    },
    {
      "id": "parse-tiktok-tokens",
      "name": "Parse Tokens",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2650,
        -300
      ],
      "parameters": {
        "jsCode": "const binaryData = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst jsonString = binaryData.toString('utf-8');\nconst tokens = JSON.parse(jsonString);\nreturn [{ json: { tokens } }];"
      }
    },
    {
      "id": "refresh-tiktok-token-http",
      "name": "Refresh TikTok Token (HTTP Request)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2850,
        -300
      ],
      "parameters": {
        "url": "https://open.tiktokapis.com/v2/oauth/token/",
        "method": "POST",
        "authentication": "none",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_key",
              "value": "sbawe7h8d96tvebmf9"
            },
            {
              "name": "client_secret",
              "value": "NlgAUI6yxs2vFSBvMkEQllOuIKtZvf2P"
            },
            {
              "name": "grant_type",
              "value": "refresh_token"
            },
            {
              "name": "refresh_token",
              "value": "={{ $json.tokens.refresh_token }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "save-tiktok-tokens-github",
      "name": "Save TikTok Tokens (GitHub)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        3050,
        -300
      ],
      "credentials": {
        "githubApi": {
          "id": "ZrJVlb7qQrRtylDx",
          "name": "GitHub account"
        }
      },
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "mode": "name",
          "value": "={{ $('Parse manifest & copy').item.json.repoOwner }}"
        },
        "repository": {
          "mode": "name",
          "value": "={{ $('Parse manifest & copy').item.json.repoName }}"
        },
        "filePath": "tiktok_tokens.json",
        "fileContent": "={{ JSON.stringify($json) }}",
        "commitMessage": "chore: update tiktok tokens",
        "additionalParameters": {
          "branch": {
            "branch": "={{ $('Parse manifest & copy').item.json.branch }}"
          }
        }
      }
    },
    {
      "id": "is-video-meta-1",
      "name": "Is Video? (Meta)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2950,
        -250
      ],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "check-format",
              "leftValue": "={{ $('Parse manifest & copy').item.json.manifest.format }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "video"
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        }
      }
    },
    {
      "id": "publish-fb-video-1",
      "name": "Publish FB Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3200,
        -250
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "Hznf2ZMg4wObho4L",
          "name": "Meta Page Access Token"
        }
      },
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $('Get Page Info (Meta)').item.json.id }}/videos",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { file_url: 'https://centrodetutorias.com/content-generator/output/' + $('Parse manifest & copy').item.json.date + '/vertical_video.mp4?t=' + Date.now(), description: $('Parse manifest & copy').item.json.copy.caption_facebook } }}",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "is-video-ig-1",
      "name": "Is Video? (IG)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2950,
        0
      ],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "check-format",
              "leftValue": "={{ $('Parse manifest & copy').item.json.manifest.format }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "video"
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        }
      }
    },
    {
      "id": "create-ig-reel-container-1",
      "name": "Create IG Reel Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3200,
        0
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "Hznf2ZMg4wObho4L",
          "name": "Meta Page Access Token"
        }
      },
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $('Get Instagram Account (Meta)').item.json.instagram_business_account.id }}/media",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { media_type: 'REELS', video_url: 'https://centrodetutorias.com/content-generator/output/' + $('Parse manifest & copy').item.json.date + '/vertical_video.mp4?t=' + Date.now(), caption: $('Parse manifest & copy').item.json.copy.caption_instagram, share_to_feed: true } }}",
        "options": {}
      }
    },
    {
      "id": "wait-ig-reel-1",
      "name": "Wait 30s (IG Reel)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3450,
        0
      ],
      "parameters": {
        "amount": 30,
        "resume": "timeInterval",
        "unit": "seconds"
      }
    },
    {
      "id": "publish-ig-reel-1",
      "name": "Publish IG Reel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3700,
        0
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "Hznf2ZMg4wObho4L",
          "name": "Meta Page Access Token"
        }
      },
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/{{ $('Get Instagram Account (Meta)').item.json.instagram_business_account.id }}/media_publish",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { creation_id: $json.id } }}",
        "options": {}
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "is-video-tiktok-1",
      "name": "Is Video? (TikTok)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3250,
        -450
      ],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "check-format",
              "leftValue": "={{ $('Parse manifest & copy').item.json.manifest.format }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "video"
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        }
      }
    },
    {
      "id": "prepare-tiktok-video-1",
      "name": "Prepare TikTok Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3500,
        -500
      ],
      "parameters": {
        "jsCode": "const parseNode = $('Parse manifest & copy').first().json;\nconst date = parseNode.date;\nconst cacheBuster = Date.now();\nconst videoUrl = `https://centrodetutorias.com/content-generator/output/${date}/vertical_video.mp4?t=${cacheBuster}`;\nreturn [{ json: { videoUrl } }];"
      }
    },
    {
      "id": "publish-tiktok-video-1",
      "name": "Publish TikTok Video",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3750,
        -500
      ],
      "parameters": {
        "url": "https://open.tiktokapis.com/v2/post/publish/video/init/",
        "method": "POST",
        "authentication": "none",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { post_mode: 'DIRECT_POST', media_type: 'VIDEO', post_info: { title: 'Apoyo Académico - CEDETU', description: $('Parse manifest & copy').item.json.copy.texto_tiktok, privacy_level: 'SELF_ONLY', disable_comment: false, disable_duet: false, disable_stitch: false }, source_info: { source: 'PULL_FROM_URL', video_url: $json.videoUrl } } }}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Refresh TikTok Token (HTTP Request)').item.json.access_token }}"
            }
          ]
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "format-status-message-1",
      "name": "Format Status Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4950,
        200
      ],
      "parameters": {
        "jsCode": "const parseNode = $('Parse manifest & copy').first().json;\nconst format = parseNode.manifest.format; // 'video' o 'carousel'\nconst date = parseNode.date;\n\nlet fbStatus = \"No publicado\";\nlet igFeedStatus = \"No publicado\";\nlet igStoryStatus = \"No publicado\";\nlet tiktokStatus = \"No publicado\";\nlet hasErrors = false;\n\nif (format === 'video') {\n  // 1. Facebook Video\n  try {\n    const fbNode = $('Publish FB Video').first();\n    if (fbNode.json.error) {\n      fbStatus = `❌ Error: ${fbNode.json.error.message || JSON.stringify(fbNode.json.error)}`;\n      hasErrors = true;\n    } else if (fbNode.json.id) {\n      fbStatus = `✅ Publicado con éxito (ID: ${fbNode.json.id})`;\n    } else {\n      fbStatus = `✅ Publicado con éxito`;\n    }\n  } catch (e) {\n    fbStatus = `⚠️ No ejecutado o no verificado`;\n  }\n\n  // 2. Instagram Reel (Feed)\n  try {\n    const igNode = $('Publish IG Reel').first();\n    if (igNode.json.error) {\n      igFeedStatus = `❌ Error: ${igNode.json.error.message || JSON.stringify(igNode.json.error)}`;\n      hasErrors = true;\n    } else if (igNode.json.id) {\n      igFeedStatus = `✅ Publicado con éxito (ID: ${igNode.json.id})`;\n    } else {\n      igFeedStatus = `✅ Publicado con éxito`;\n    }\n  } catch (e) {\n    igFeedStatus = `⚠️ No ejecutado o no verificado`;\n  }\n\n  // 3. TikTok Video\n  try {\n    const ttNode = $('Publish TikTok Video').first();\n    if (ttNode.json.error) {\n      tiktokStatus = `❌ Error: ${ttNode.json.error.message || JSON.stringify(ttNode.json.error)}`;\n      hasErrors = true;\n    } else if (ttNode.json.data && ttNode.json.data.publish_id) {\n      tiktokStatus = `✅ Publicado con éxito (Publish ID: ${ttNode.json.data.publish_id})`;\n    } else {\n      tiktokStatus = `✅ Publicado con éxito`;\n    }\n  } catch (e) {\n    tiktokStatus = `⚠️ No ejecutado o no verificado`;\n  }\n\n} else {\n  // Formato Carrusel (Slides)\n  // 1. Facebook Carousel\n  try {\n    const fbNode = $('Publish FB Carousel').first();\n    if (fbNode.json.error) {\n      fbStatus = `❌ Error: ${fbNode.json.error.message || JSON.stringify(fbNode.json.error)}`;\n      hasErrors = true;\n    } else if (fbNode.json.id) {\n      fbStatus = `✅ Publicado con éxito (ID: ${fbNode.json.id})`;\n    } else {\n      fbStatus = `✅ Publicado con éxito`;\n    }\n  } catch (e) {\n    fbStatus = `⚠️ No ejecutado o no verificado`;\n  }\n\n  // 2. Instagram Carousel (Feed)\n  try {\n    const igNode = $('Publish IG Carousel').first();\n    if (igNode.json.error) {\n      igFeedStatus = `❌ Error: ${igNode.json.error.message || JSON.stringify(igNode.json.error)}`;\n      hasErrors = true;\n    } else if (igNode.json.id) {\n      igFeedStatus = `✅ Publicado con éxito (ID: ${igNode.json.id})`;\n    } else {\n      igFeedStatus = `✅ Publicado con éxito`;\n    }\n  } catch (e) {\n    igFeedStatus = `⚠️ No ejecutado o no verificado`;\n  }\n\n  // 3. TikTok Slides\n  try {\n    const ttNode = $('Publish to TikTok').first();\n    if (ttNode.json.error) {\n      tiktokStatus = `❌ Error: ${ttNode.json.error.message || JSON.stringify(ttNode.json.error)}`;\n      hasErrors = true;\n    } else if (ttNode.json.data && ttNode.json.data.publish_id) {\n      tiktokStatus = `✅ Publicado con éxito (Publish ID: ${ttNode.json.data.publish_id})`;\n    } else {\n      tiktokStatus = `✅ Publicado con éxito`;\n    }\n  } catch (e) {\n    tiktokStatus = `⚠️ No ejecutado o no verificado`;\n  }\n}\n\n// 4. Instagram Story (Común para ambos formatos)\ntry {\n  const storyNode = $('Publish IG Story').first();\n  if (storyNode.json.error) {\n    igStoryStatus = `❌ Error: ${storyNode.json.error.message || JSON.stringify(storyNode.json.error)}`;\n    hasErrors = true;\n  } else if (storyNode.json.id) {\n    igStoryStatus = `✅ Publicado con éxito (ID: ${storyNode.json.id})`;\n  } else {\n    igStoryStatus = `✅ Publicado con éxito`;\n  }\n} catch (e) {\n  igStoryStatus = `⚠️ No ejecutado o no verificado`;\n}\n\n// Formatear el mensaje final\nlet header = hasErrors ? \"⚠️ *Campaña Publicada con Fallos*\" : \"✅ *Campaña Publicada con Éxito*\";\nlet message = `${header}\\n\\n`;\nmessage += `La campaña del *${date}* (${format.toUpperCase()}) se procesó con el siguiente resultado:\\n\\n`;\nmessage += `👥 *Facebook Page:* ${fbStatus}\\n`;\nmessage += `📸 *Instagram Feed:* ${igFeedStatus}\\n`;\nmessage += `📖 *Instagram Story:* ${igStoryStatus}\\n`;\nmessage += `🎵 *TikTok:* ${tiktokStatus}\\n\\n`;\nmessage += `El manifest.json ha sido actualizado a 'ready_to_publish'.`;\n\nreturn [{ json: { message } }];"
      }
    },
    {
      "id": "wait-ig-story-1",
      "name": "Wait 30s (IG Story)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3075,
        300
      ],
      "parameters": {
        "amount": 30,
        "resume": "timeInterval",
        "unit": "seconds"
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Dates & Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dates & Paths": {
      "main": [
        [
          {
            "node": "Read manifest.json",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read copy.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read manifest.json": {
      "main": [
        [
          {
            "node": "Parse manifest & copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read copy.json": {
      "main": [
        [
          {
            "node": "Parse manifest & copy",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parse manifest & copy": {
      "main": [
        [
          {
            "node": "Is Ready for Review?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Ready for Review?": {
      "main": [
        [
          {
            "node": "Read Feed Square Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop - Not Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Feed Square Image": {
      "main": [
        [
          {
            "node": "Telegram — Send Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram — Send Preview": {
      "main": [
        [
          {
            "node": "Telegram — Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram — Wait for Approval": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Set Status Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Status Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status Approved": {
      "main": [
        [
          {
            "node": "Write manifest.json (Approved)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write manifest.json (Approved)": {
      "main": [
        [
          {
            "node": "Get Page Info (Meta)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read TikTok Tokens (GitHub)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Info (Meta)": {
      "main": [
        [
          {
            "node": "Get Instagram Account (Meta)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Video? (Meta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Instagram Account (Meta)": {
      "main": [
        [
          {
            "node": "Is Video? (IG)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status Rejected": {
      "main": [
        [
          {
            "node": "Write manifest.json (Rejected)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write manifest.json (Rejected)": {
      "main": [
        [
          {
            "node": "Telegram — Rejected Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare FB Carousel Items": {
      "main": [
        [
          {
            "node": "Upload FB Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload FB Photo": {
      "main": [
        [
          {
            "node": "Aggregate FB Photo IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate FB Photo IDs": {
      "main": [
        [
          {
            "node": "Publish FB Carousel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish FB Carousel": {
      "main": [
        [
          {
            "node": "Merge FB and IG Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare IG Carousel Items": {
      "main": [
        [
          {
            "node": "Create IG Carousel Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create IG Carousel Container": {
      "main": [
        [
          {
            "node": "Aggregate IG Container IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create IG Carousel Parent": {
      "main": [
        [
          {
            "node": "Publish IG Carousel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish IG Carousel": {
      "main": [
        [
          {
            "node": "Merge FB and IG Feed",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create IG Story Container": {
      "main": [
        [
          {
            "node": "Wait 30s (IG Story)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish IG Story": {
      "main": [
        [
          {
            "node": "Merge Feed and Story",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge FB and IG Feed": {
      "main": [
        [
          {
            "node": "Merge Feed and Story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Feed and Story": {
      "main": [
        [
          {
            "node": "Merge All Socials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare TikTok Slides": {
      "main": [
        [
          {
            "node": "Publish to TikTok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish to TikTok": {
      "main": [
        [
          {
            "node": "Merge All Socials",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Socials": {
      "main": [
        [
          {
            "node": "Format Status Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate IG Container IDs": {
      "main": [
        [
          {
            "node": "Wait 15s (IG Carousel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15s (IG Carousel)": {
      "main": [
        [
          {
            "node": "Create IG Carousel Parent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read TikTok Tokens (GitHub)": {
      "main": [
        [
          {
            "node": "Parse Tokens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Tokens": {
      "main": [
        [
          {
            "node": "Refresh TikTok Token (HTTP Request)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh TikTok Token (HTTP Request)": {
      "main": [
        [
          {
            "node": "Save TikTok Tokens (GitHub)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save TikTok Tokens (GitHub)": {
      "main": [
        [
          {
            "node": "Is Video? (TikTok)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Video? (Meta)": {
      "main": [
        [
          {
            "node": "Publish FB Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare FB Carousel Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish FB Video": {
      "main": [
        [
          {
            "node": "Merge FB and IG Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Video? (IG)": {
      "main": [
        [
          {
            "node": "Create IG Reel Container",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create IG Story Container",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare IG Carousel Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create IG Story Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create IG Reel Container": {
      "main": [
        [
          {
            "node": "Wait 30s (IG Reel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s (IG Reel)": {
      "main": [
        [
          {
            "node": "Publish IG Reel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish IG Reel": {
      "main": [
        [
          {
            "node": "Merge FB and IG Feed",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Is Video? (TikTok)": {
      "main": [
        [
          {
            "node": "Prepare TikTok Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare TikTok Slides",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare TikTok Video": {
      "main": [
        [
          {
            "node": "Publish TikTok Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish TikTok Video": {
      "main": [
        [
          {
            "node": "Merge All Socials",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format Status Message": {
      "main": [
        [
          {
            "node": "Telegram — Approved Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s (IG Story)": {
      "main": [
        [
          {
            "node": "Publish IG Story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Guatemala",
    "errorWorkflow": "hqtExbNvPA6slEwu",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger — 07:05 AM GT": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null
}