n8n/cedetu_content_generator.json
{
  "name": "CEDETU Content Generator",
  "nodes": [
    {
      "id": "schedule-trigger-1",
      "name": "Schedule Trigger — 07:05 AM GT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        100,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "5 7 * * *"
            }
          ]
        }
      },
      "notes": "Runs every day at 07:05 AM Guatemala Time (UTC-6)"
    },
    {
      "id": "code-dates-paths-1",
      "name": "Get Dates & Paths",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        300
      ],
      "parameters": {
        "jsCode": "const now = new Date();\nconst gtOffset = -6 * 60;\nconst gtTime = new Date(now.getTime() + gtOffset * 60000);\nconst yyyy = gtTime.getUTCFullYear();\nconst mm = String(gtTime.getUTCMonth() + 1).padStart(2, '0');\nconst dd = String(gtTime.getUTCDate()).padStart(2, '0');\nconst dateStr = `${yyyy}-${mm}-${dd}`;\n\nconst repoOwner = \"apolancog-dev\";\nconst repoName = \"centrodetutorias\";\nconst branch = \"main\";\nconst baseRawUrl = `https://raw.githubusercontent.com/${repoOwner}/${repoName}/${branch}/content-generator/output/${dateStr}`;\nconst githubFilePath = `content-generator/output/${dateStr}/manifest.json`;\n\nreturn [{\n  json: {\n    date: dateStr,\n    manifestUrl: `${baseRawUrl}/manifest.json`,\n    copyUrl: `${baseRawUrl}/copy.json`,\n    imageUrl: `${baseRawUrl}/feed_1080x1080.png`,\n    githubFilePath: githubFilePath,\n    repoOwner: repoOwner,\n    repoName: repoName,\n    branch: branch\n  }\n}];"
      }
    },
    {
      "id": "read-manifest-1",
      "name": "Read manifest.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        500,
        200
      ],
      "parameters": {
        "url": "={{ $json.manifestUrl }}",
        "method": "GET",
        "authentication": "none",
        "options": {}
      }
    },
    {
      "id": "read-copy-1",
      "name": "Read copy.json",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        500,
        400
      ],
      "parameters": {
        "url": "={{ $('Get Dates & Paths').item.json.copyUrl }}",
        "method": "GET",
        "authentication": "none",
        "options": {}
      }
    },
    {
      "id": "parse-manifest-copy-1",
      "name": "Parse manifest & copy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "parameters": {
        "jsCode": "const manifestInput = $('Read manifest.json').first().json;\nconst copyInput = $('Read copy.json').first().json;\n\nlet manifest;\nif (typeof manifestInput.data === 'string') {\n  manifest = JSON.parse(manifestInput.data);\n} else if (manifestInput.data) {\n  manifest = manifestInput.data;\n} else {\n  manifest = manifestInput;\n}\n\nlet copy;\nif (typeof copyInput.data === 'string') {\n  copy = JSON.parse(copyInput.data);\n} else if (copyInput.data) {\n  copy = copyInput.data;\n} else {\n  copy = copyInput;\n}\n\nconst datesNode = $('Get Dates & Paths').first().json;\n\nreturn [{\n  json: {\n    date: datesNode.date,\n    githubFilePath: datesNode.githubFilePath,\n    repoOwner: datesNode.repoOwner,\n    repoName: datesNode.repoName,\n    branch: datesNode.branch,\n    imageUrl: datesNode.imageUrl,\n    manifest,\n    copy\n  }\n}];"
      }
    },
    {
      "id": "is-ready-review-1",
      "name": "Is Ready for Review?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        950,
        300
      ],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "check-status",
              "leftValue": "={{ $json.manifest.status }}",
              "operator": {
                "operation": "equals",
                "type": "string"
              },
              "rightValue": "ready_for_human_review"
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        }
      }
    },
    {
      "id": "read-image-1",
      "name": "Read Feed Square Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1150,
        200
      ],
      "parameters": {
        "url": "={{ $json.imageUrl }}",
        "method": "GET",
        "authentication": "none",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "feedSquareBinary"
            }
          }
        }
      }
    },
    {
      "id": "telegram-send-preview-1",
      "name": "Telegram — Send Preview",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1350,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "C70mrh8zZbUll0Zw",
          "name": "Telegram account"
        }
      },
      "parameters": {
        "chatId": "724801911",
        "operation": "sendPhoto",
        "binaryData": true,
        "binaryPropertyName": "feedSquareBinary",
        "additionalFields": {
          "parse_mode": "Markdown",
          "caption": "=📸 *PREVIEW DE CAMPAÑA - {{ $('Parse manifest & copy').item.json.copy.fecha }}*\n\n*Tema:* {{ $('Parse manifest & copy').item.json.copy.tema_del_dia }} ({{ $('Parse manifest & copy').item.json.copy.materia_prioritaria }})\n\n*Caption IG:*\n```\n{{ $('Parse manifest & copy').item.json.copy.caption_instagram }}\n```\n\n*CTA WhatsApp:* [Enlace wa.me]({{ $('Parse manifest & copy').item.json.copy.whatsapp_link }})"
        }
      },
      "webhookId": "2eefec34-decf-4868-9e66-f6966cd9c4ed"
    },
    {
      "id": "telegram-wait-approval-1",
      "name": "Telegram — Wait for Approval",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1550,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "C70mrh8zZbUll0Zw",
          "name": "Telegram account"
        }
      },
      "parameters": {
        "chatId": "724801911",
        "operation": "sendAndWait",
        "message": "=🤔 *¿Aprobar esta campaña para publicación orgánica?*\n\nFecha: {{ $('Parse manifest & copy').item.json.copy.fecha }}\nTema: {{ $('Parse manifest & copy').item.json.copy.tema_del_dia }}\n\nSi apruebas, actualizaremos el estado en el manifest.json a 'ready_to_publish'.",
        "approvalOptions": {
          "values": {
            "approvalType": "double",
            "approveLabel": "✅ Aprobar campaña",
            "disapproveLabel": "❌ Rechazar campaña"
          }
        }
      },
      "webhookId": "9b20eae1-3dd0-4385-b2c7-1ccc30f81464"
    },
    {
      "id": "is-approved-1",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1750,
        200
      ],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "check-approved",
              "leftValue": "={{ $json.approved }}",
              "operator": {
                "operation": "true",
                "singleValue": true,
                "type": "boolean"
              }
            }
          ],
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          }
        }
      }
    },
    {
      "id": "code-approved-status-1",
      "name": "Set Status Approved",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1950,
        100
      ],
      "parameters": {
        "jsCode": "const manifestNode = $('Parse manifest & copy').first().json;\nconst manifest = manifestNode.manifest;\nmanifest.status = 'ready_to_publish';\n\nreturn [{\n  json: {\n    manifest,\n    manifestContent: JSON.stringify(manifest, null, 2),\n    githubFilePath: manifestNode.githubFilePath,\n    repoOwner: manifestNode.repoOwner,\n    repoName: manifestNode.repoName,\n    branch: manifestNode.branch,\n    date: manifestNode.date\n  }\n}];"
      }
    },
    {
      "id": "write-approved-manifest-1",
      "name": "Write manifest.json (Approved)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2200,
        100
      ],
      "credentials": {
        "githubApi": {
          "id": "ZrJVlb7qQrRtylDx",
          "name": "GitHub account"
        }
      },
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "mode": "name",
          "value": "={{ $json.repoOwner }}"
        },
        "repository": {
          "mode": "name",
          "value": "={{ $json.repoName }}"
        },
        "filePath": "={{ $json.githubFilePath }}",
        "fileContent": "={{ $json.manifestContent }}",
        "commitMessage": "=chore: approve campaign ({{ $json.date }})",
        "additionalParameters": {
          "branch": {
            "branch": "={{ $json.branch }}"
          }
        }
      }
    },
    {
      "id": "telegram-approved-notify-1",
      "name": "Telegram — Approved Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2450,
        100
      ],
      "credentials": {
        "telegramApi": {
          "id": "C70mrh8zZbUll0Zw",
          "name": "Telegram account"
        }
      },
      "parameters": {
        "chatId": "724801911",
        "operation": "sendMessage",
        "text": "=✅ *Campaña Aprobada*\n\nEl manifest.json de la campaña del {{ $json.date }} ha sido actualizado exitosamente a 'ready_to_publish'."
      },
      "webhookId": "e7e37d6d-0faf-425a-b095-41e3f8fba334"
    },
    {
      "id": "code-rejected-status-1",
      "name": "Set Status Rejected",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1950,
        300
      ],
      "parameters": {
        "jsCode": "const manifestNode = $('Parse manifest & copy').first().json;\nconst manifest = manifestNode.manifest;\nmanifest.status = 'review_failed';\n\nreturn [{\n  json: {\n    manifest,\n    manifestContent: JSON.stringify(manifest, null, 2),\n    githubFilePath: manifestNode.githubFilePath,\n    repoOwner: manifestNode.repoOwner,\n    repoName: manifestNode.repoName,\n    branch: manifestNode.branch,\n    date: manifestNode.date\n  }\n}];"
      }
    },
    {
      "id": "write-rejected-manifest-1",
      "name": "Write manifest.json (Rejected)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        2200,
        300
      ],
      "credentials": {
        "githubApi": {
          "id": "ZrJVlb7qQrRtylDx",
          "name": "GitHub account"
        }
      },
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "mode": "name",
          "value": "={{ $json.repoOwner }}"
        },
        "repository": {
          "mode": "name",
          "value": "={{ $json.repoName }}"
        },
        "filePath": "={{ $json.githubFilePath }}",
        "fileContent": "={{ $json.manifestContent }}",
        "commitMessage": "=chore: reject campaign ({{ $json.date }})",
        "additionalParameters": {
          "branch": {
            "branch": "={{ $json.branch }}"
          }
        }
      }
    },
    {
      "id": "telegram-rejected-notify-1",
      "name": "Telegram — Rejected Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2450,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "C70mrh8zZbUll0Zw",
          "name": "Telegram account"
        }
      },
      "parameters": {
        "chatId": "724801911",
        "operation": "sendMessage",
        "text": "=❌ *Campaña Rechazada*\n\nLa campaña del {{ $json.date }} ha sido marcada como 'review_failed' y no se publicará."
      },
      "webhookId": "568f4293-b0e1-4a26-b2e4-684a79b47057"
    },
    {
      "id": "stop-not-ready-1",
      "name": "Stop - Not Ready",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1150,
        450
      ],
      "parameters": {}
    }
  ],
  "connections": {
    "Schedule Trigger — 07:05 AM GT": {
      "main": [
        [
          {
            "node": "Get Dates & Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dates & Paths": {
      "main": [
        [
          {
            "node": "Read manifest.json",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read copy.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read manifest.json": {
      "main": [
        [
          {
            "node": "Parse manifest & copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read copy.json": {
      "main": [
        [
          {
            "node": "Parse manifest & copy",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parse manifest & copy": {
      "main": [
        [
          {
            "node": "Is Ready for Review?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Ready for Review?": {
      "main": [
        [
          {
            "node": "Read Feed Square Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop - Not Ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Feed Square Image": {
      "main": [
        [
          {
            "node": "Telegram — Send Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram — Send Preview": {
      "main": [
        [
          {
            "node": "Telegram — Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram — Wait for Approval": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Set Status Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Status Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status Approved": {
      "main": [
        [
          {
            "node": "Write manifest.json (Approved)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write manifest.json (Approved)": {
      "main": [
        [
          {
            "node": "Telegram — Approved Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Status Rejected": {
      "main": [
        [
          {
            "node": "Write manifest.json (Rejected)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write manifest.json (Rejected)": {
      "main": [
        [
          {
            "node": "Telegram — Rejected Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Guatemala",
    "errorWorkflow": "hqtExbNvPA6slEwu"
  },
  "staticData": {
    "node:Schedule Trigger — 07:05 AM GT": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "nodeGroups": [],
  "pinData": null,
  "active": false
}
