n8n/devops_vps_status_webhook.json
{
  "name": "DevOps VPS Status Webhook",
  "nodes": [
    {
      "parameters": {
        "options": {},
        "path": "vps-status",
        "responseMode": "responseNode"
      },
      "id": "webhook-trigger-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "echo \"=== MEMORY ===\"\nfree -m\necho \"=== DISK ===\"\ndf -h /\necho \"=== CONTAINERS ===\"\ndocker ps --format \"table {{.Names}}\\\\t{{.Status}}\"\necho \"=== STATS ===\"\ndocker stats --no-stream --format \"{{.Name}}: {{.CPUPerc}} | {{.MemUsage}}\"\necho \"=== BACKUPS ===\"\nls -lh /var/backups/db/",
        "cwd": "/"
      },
      "id": "ssh-node-1",
      "name": "SSH Execute",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        300,
        200
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "CmHccwOoHeyDV8jC",
          "name": "SSH VPS Host"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const stdout = $('SSH Execute').first().json.stdout || '';\nconst now = new Date();\nconst todayStr = now.toISOString().split('T')[0];\nconst timeStr = now.toTimeString().split(' ')[0];\n\n// Dividir salida por secciones\nconst sections = {};\nconst sectionNames = ['MEMORY', 'DISK', 'CONTAINERS', 'STATS', 'BACKUPS'];\nlet currentSection = 'MEMORY';\nsections[currentSection] = [];\n\nconst lines = stdout.split('\\n');\nfor (const line of lines) {\n  let matched = false;\n  for (const name of sectionNames) {\n    if (line.includes(`=== ${name} ===`)) {\n      currentSection = name;\n      sections[currentSection] = [];\n      matched = true;\n      break;\n    }\n  }\n  if (!matched) {\n    sections[currentSection].push(line);\n  }\n}\n\n// 1. Parsear Memoria\nlet totalMem = 0;\nlet usedMem = 0;\nlet memPercent = 0;\nconst memLine = sections['MEMORY'].find(l => l.trim().startsWith('Mem:'));\nif (memLine) {\n  const parts = memLine.trim().split(/\\s+/);\n  totalMem = parseInt(parts[1], 10);\n  usedMem = parseInt(parts[2], 10);\n  memPercent = (usedMem / totalMem) * 100;\n}\n\n// 2. Parsear Disco\nlet diskPercent = 0;\nconst diskLine = sections['DISK'].find(l => l.includes(' /'));\nif (diskLine) {\n  const parts = diskLine.trim().split(/\\s+/);\n  const usePart = parts.find(p => p.endsWith('%'));\n  if (usePart) {\n    diskPercent = parseInt(usePart.replace('%', ''), 10);\n  }\n}\n\n// 3. Parsear Contenedores\nconst criticalContainers = [\n  { key: 'centrodetutoriasweb', name: 'Centro de Tutorías Web', pattern: /centrodetutoriasweb/i },\n  { key: 'paperclipapp', name: 'Paperclip App', pattern: /paperclipapp/i },\n  { key: 'paperclipdb', name: 'Paperclip DB', pattern: /paperclipdb/i },\n  { key: 'n8n', name: 'n8n App', pattern: /n8n-1/i },\n  { key: 'n8n-postgres', name: 'n8n Postgres DB', pattern: /postgres-1/i },\n  { key: 'supabase-db', name: 'Supabase DB', pattern: /supabase-db/i }\n];\n\nconst containerStatus = {};\nconst missingContainers = [];\nconst stoppedContainers = [];\n\nfor (const c of criticalContainers) {\n  const matchedLine = sections['CONTAINERS'].find(l => c.pattern.test(l));\n  if (!matchedLine) {\n    containerStatus[c.key] = 'Missing';\n    missingContainers.push(c.name);\n  } else {\n    if (matchedLine.includes('Up')) {\n      containerStatus[c.key] = 'Running';\n    } else {\n      containerStatus[c.key] = 'Stopped/Restarting';\n      stoppedContainers.push(`${c.name} (${matchedLine.trim()})`);\n    }\n  }\n}\n\n// 4. Parsear Backups\nconst requiredBackups = [\n  { key: 'n8n', name: 'n8n_backup.sql.gz' },\n  { key: 'paperclip', name: 'paperclip_backup.sql.gz' },\n  { key: 'supabase', name: 'supabase_backup.sql.gz' }\n];\n\nconst backupStatus = {};\nconst missingBackups = [];\nconst emptyBackups = [];\n\nfor (const b of requiredBackups) {\n  const matchedLine = sections['BACKUPS'].find(l => l.includes(b.name));\n  if (!matchedLine) {\n    backupStatus[b.key] = 'Missing';\n    missingBackups.push(b.name);\n  } else {\n    const parts = matchedLine.trim().split(/\\s+/);\n    const sizeStr = parts[4];\n    if (sizeStr === '0' || sizeStr === '0B') {\n      backupStatus[b.key] = 'Empty (0 bytes)';\n      emptyBackups.push(b.name);\n    } else {\n      backupStatus[b.key] = `OK (${sizeStr})`;\n    }\n  }\n}\n\n// 5. Evaluar Alertas\nlet alert = false;\nconst alertReasons = [];\nlet priority = 'low';\n\nif (memPercent > 85) {\n  alert = true;\n  priority = 'high';\n  alertReasons.push(`Uso de RAM crítico: ${memPercent.toFixed(1)}% (Límite: 85%)`);\n} else if (memPercent > 75) {\n  alert = true;\n  priority = 'medium';\n  alertReasons.push(`Uso de RAM elevado: ${memPercent.toFixed(1)}% (Límite preventivo: 75%)`);\n}\n\nif (diskPercent > 85) {\n  alert = true;\n  priority = 'high';\n  alertReasons.push(`Uso de Disco crítico: ${diskPercent}% (Límite: 85%)`);\n} else if (diskPercent > 75) {\n  alert = true;\n  if (priority !== 'high') priority = 'medium';\n  alertReasons.push(`Uso de Disco elevado: ${diskPercent}% (Límite preventivo: 75%)`);\n}\n\nif (missingContainers.length > 0) {\n  alert = true;\n  priority = 'high';\n  alertReasons.push(`Contenedores críticos faltantes: ${missingContainers.join(', ')}`);\n}\n\nif (stoppedContainers.length > 0) {\n  alert = true;\n  priority = 'high';\n  alertReasons.push(`Contenedores críticos no activos: ${stoppedContainers.join(', ')}`);\n}\n\nif (missingBackups.length > 0) {\n  alert = true;\n  priority = 'high';\n  alertReasons.push(`Copias de seguridad faltantes: ${missingBackups.join(', ')}`);\n}\n\nif (emptyBackups.length > 0) {\n  alert = true;\n  priority = 'high';\n  alertReasons.push(`Copias de seguridad vacías (0 bytes): ${emptyBackups.join(', ')}`);\n}\n\n// Generar reporte en Markdown\nlet markdownReport = `### 🖥️ REPORTE DE SALUD DEL SERVIDOR - CEDETU (${todayStr} ${timeStr})\\n\\n`;\nif (alert) {\n  markdownReport += `⚠️ **ALERTA DE SISTEMA RELEVADA** (Prioridad: **${priority.toUpperCase()}**)\\n`;\n  alertReasons.forEach(reason => {\n    markdownReport += `- 🔴 ${reason}\\n`;\n  });\n  markdownReport += `\\n---\\n\\n`;\n} else {\n  markdownReport += `✅ **Sistema saludable.** No se detectaron anomalías ni alertas.\\n\\n---\\n\\n`;\n}\n\nmarkdownReport += `#### 1. Recursos del Sistema\\n`;\nmarkdownReport += `*   **Uso de Memoria RAM:** ${memPercent.toFixed(1)}% (${usedMem}MB usados de ${totalMem}MB)\\n`;\nmarkdownReport += `*   **Uso de Disco Duro:** ${diskPercent}% ocupado\\n\\n`;\n\nmarkdownReport += `#### 2. Estado de Contenedores Críticos\\n`;\ncriticalContainers.forEach(c => {\n  const status = containerStatus[c.key] === 'Running' ? '🟢 Activo' : `🔴 ${containerStatus[c.key]}`;\n  markdownReport += `*   **${c.name}:** ${status}\\n`;\n});\nmarkdownReport += `\\n`;\n\nmarkdownReport += `#### 3. Estado de Copias de Seguridad\\n`;\nrequiredBackups.forEach(b => {\n  const status = backupStatus[b.key].startsWith('OK') ? `🟢 ${backupStatus[b.key]}` : `🔴 ${backupStatus[b.key]}`;\n  markdownReport += `*   **${b.name}:** ${status}\\n`;\n});\n\nmarkdownReport += `\\n\\n*Informe automatizado generado por DevOps Agent. En caso de fallas de prioridad alta/media, se genera un issue para su atención inmediata.*`;\n\nreturn [{
    json: {
      memory: {
        total: totalMem,
        used: usedMem,
        percent: memPercent
      },
      disk: {
        percent: diskPercent
      },
      containers: containerStatus,
      backups: backupStatus,
      alert,
      priority,
      alertReasons,
      markdownReport
    }
  }];"
      },
      "id": "code-evaluate-metrics-1",
      "name": "Evaluate Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "options": {},
        "responseBody": "={\n  \"memory\": {{ $json.memory }},\n  \"disk\": {{ $json.disk }},\n  \"containers\": {{ $json.containers }},\n  \"backups\": {{ $json.backups }},\n  \"alert\": {{ $json.alert }},\n  \"priority\": \"{{ $json.priority }}\",\n  \"alertReasons\": {{ $json.alertReasons }},\n  \"markdownReport\": {{ JSON.stringify($json.markdownReport) }}\n}"
      },
      "id": "webhook-response-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        700,
        200
      ]
    }
  ],
  "connections": {
    "Evaluate Metrics": {
      "main": [
        [
          {
            "index": 0,
            "node": "Respond to Webhook",
            "type": "main"
          }
        ]
      ]
    },
    "SSH Execute": {
      "main": [
        [
          {
            "index": 0,
            "node": "Evaluate Metrics",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "SSH Execute",
            "type": "main"
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "hqtExbNvPA6slEwu"
  },
  "active": true
}
