n8n/guardar_lead_whatsapp.json
{
  "name": "Guardar Lead desde WhatsApp",
  "nodes": [
    {
      "id": "e44d32a1-fa0b-4bd2-8e10-ff99c82abdd3",
      "name": "Execute Workflow Trigger",
      "parameters": {},
      "position": [
        200,
        240
      ],
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "IVa19l81qjUZcHse",
          "name": "Supabase account"
        }
      },
      "id": "c12d8a9b-381a-4fe1-9d2b-ff27b2cbb1d3",
      "name": "Insert Supabase",
      "parameters": {
        "columns": null,
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "parent_or_student_name",
              "fieldValue": "={{$json.nombre}}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{$json.email}}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{$json.telefono}}"
            },
            {
              "fieldId": "subject",
              "fieldValue": "={{$json.materia}}"
            },
            {
              "fieldId": "grade",
              "fieldValue": "={{$json.nivel}}"
            },
            {
              "fieldId": "description",
              "fieldValue": "={{$json.descripcion || 'Sin descripción'}}"
            }
          ]
        },
        "operation": "upsert",
        "resource": "row",
        "table": null,
        "tableId": "leads",
        "valuesToSend": null
      },
      "position": [
        420,
        240
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://services.leadconnectorhq.com/contacts/upsert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pit-62719809-63ac-4b11-8e4a-df5942c8e80e"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"locationId\": \"JhSnXQVvO5cUmHqXRced\",\n  \"email\": \"{{ $('Execute Workflow Trigger').item.json.email }}\",\n  \"firstName\": \"{{ $('Execute Workflow Trigger').item.json.nombre }}\",\n  \"phone\": \"{{ $('Execute Workflow Trigger').item.json.telefono }}\",\n  \"tags\": [\n    \"lead-whatsapp-lucia\",\n    \"materia:{{ $('Execute Workflow Trigger').item.json.materia }}\"\n  ]\n}",
        "options": {}
      },
      "id": "b18c9b2a-cc41-45fe-85fa-7b24346e9699",
      "name": "HTTP Request GHL",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        640,
        240
      ]
    },
    {
      "credentials": {
        "smtp": {
          "id": "RrEqzBTLbIQz9QNL",
          "name": "SMTP account"
        }
      },
      "id": "e63a8a3c-cc72-466d-9658-0056637b58c7",
      "name": "Send Email",
      "parameters": {
        "fromEmail": "lucia@centrodetutorias.com",
        "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; background-color: #f8fafc; border: 1px solid #e2e8f0; border-radius: 12px; overflow: hidden; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);\">\n    <div style=\"background-color: #1e3a8a; padding: 30px 20px; text-align: center; color: white;\">\n        <img src=\"https://www.centrodetutorias.com/LOGO_CEDETU.png\" alt=\"Logo CEDETU\" style=\"max-height: 60px; margin-bottom: 15px;\" />\n        <h1 style=\"margin: 0; font-size: 24px; font-weight: bold;\">Centro de Tutorías (CEDETU)</h1>\n        <p style=\"margin: 5px 0 0 0; font-size: 14px; opacity: 0.9;\">Tu ruta hacia el éxito y la confianza académica</p>\n    </div>\n    \n    <div style=\"padding: 30px 20px; background-color: white;\">\n        <p style=\"font-size: 16px; color: #1e293b; line-height: 1.6; margin-top: 0;\">\n            Hola <strong>{{$node[\"Execute Workflow Trigger\"].json.nombre}}</strong>,\n        </p>\n        <p style=\"font-size: 16px; color: #334155; line-height: 1.6;\">\n            Es un gusto saludarte. Soy <strong>Lucía</strong>, coordinadora y representante del <strong>Centro de Tutorías (CEDETU)</strong>.\n        </p>\n        <p style=\"font-size: 16px; color: #334155; line-height: 1.6;\">\n            Nuestra asistente virtual, LucIA, me ha compartido tus datos y tu interés en recibir apoyo escolar personalizado para la materia de <strong>{{$node[\"Execute Workflow Trigger\"].json.materia}}</strong> (nivel <strong>{{$node[\"Execute Workflow Trigger\"].json.nivel}}</strong>).\n        </p>\n        \n        <div style=\"background-color: #f0fdf4; border-left: 4px solid #10b981; padding: 15px; margin: 20px 0; border-radius: 4px;\">\n            <h3 style=\"margin: 0 0 10px 0; color: #065f46; font-size: 16px;\">¿Por qué elegir CEDETU?</h3>\n            <ul style=\"margin: 0; padding-left: 20px; color: #065f46; font-size: 14px; line-height: 1.5;\">\n                <li><strong>Tutores especializados:</strong> Seleccionados rigurosamente por su paciencia y didáctica.</li>\n                <li><strong>Enfoque en entender:</strong> No hacemos las tareas por ti, te enseñamos el paso a paso.</li>\n                <li><strong>Clases 100% en vivo:</strong> Videollamadas individuales mediante pizarras virtuales interactivas.</li>\n                <li><strong>Horarios flexibles:</strong> Nos adaptamos por completo a tus tiempos libres.</li>\n            </ul>\n        </div>\n        \n        <p style=\"font-size: 16px; color: #334155; line-height: 1.6;\">\n            Para diseñar el plan ideal para ti y asignarte el tutor perfecto, te invitamos a agendar tu <strong>Entrevista de Diagnóstico Gratuita de 20 minutos</strong> en nuestro Calendly oficial:\n        </p>\n        \n        <div style=\"text-align: center; margin: 30px 0;\">\n            <a href=\"https://calendly.com/cedetu\" style=\"background-color: #f97316; color: white; padding: 14px 28px; text-align: center; font-size: 16px; font-weight: bold; text-decoration: none; border-radius: 8px; display: inline-block; box-shadow: 0 4px 10px rgba(249, 115, 22, 0.3);\">Agendar Entrevista Gratis 🗓️</a>\n        </div>\n        \n        <p style=\"font-size: 14px; color: #64748b; text-align: center; margin-top: -10px; margin-bottom: 25px;\">\n            (La entrevista de diagnóstico es completamente gratuita y sin compromisos)\n        </p>\n        \n        <hr style=\"border: 0; border-top: 1px solid #e2e8f0; margin: 25px 0;\">\n        \n        <p style=\"font-size: 15px; color: #334155; line-height: 1.6; margin-bottom: 5px;\">\n            Quedo a tu entera disposición para resolver cualquier duda. ¡Pronto verás cómo el estrés por los exámenes y tareas se convierte en absoluta tranquilidad!\n        </p>\n        \n        <p style=\"font-size: 16px; color: #1e293b; margin-top: 20px; margin-bottom: 0;\">\n            Un cordial saludo,\n        </p>\n        <p style=\"font-size: 16px; color: #1e293b; font-weight: bold; margin: 5px 0 0 0;\">\n            Lucía\n        </p>\n        <p style=\"font-size: 14px; color: #64748b; margin: 0;\">\n            Coordinadora Académica de CEDETU\n        </p>\n    </div>\n    \n    <div style=\"background-color: #f1f5f9; padding: 20px; text-align: center; font-size: 12px; color: #94a3b8; border-top: 1px solid #e2e8f0;\">\n        <p style=\"margin: 0;\">Este correo fue generado tras tu interacción con nuestra asistente LucIA vía WhatsApp.</p>\n        <p style=\"margin: 5px 0 0 0;\">© 2026 Centro de Tutorías CEDETU. Todos los derechos reservados.</p>\n    </div>\n</div>",
        "subject": "¡Hola {{$node[\"Execute Workflow Trigger\"].json.nombre}}! Bienvenido al Centro de Tutorías CEDETU 📚",
        "toEmail": "={{$node[\"Execute Workflow Trigger\"].json.email}}"
      },
      "position": [
        860,
        240
      ],
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1
    },
    {
      "id": "ab7c8e9b-381a-45c1-8d2b-ff27b2cbb1d3",
      "name": "Return Confirmation",
      "parameters": {
        "jsCode": "return [{\n  json: {\n    response: \"Lead guardado exitosamente en Supabase y GHL. Se envió correo de bienvenida a \" + $node[\"Execute Workflow Trigger\"].json.email + \".\"\n  }\n}];"
      },
      "position": [
        1080,
        240
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 1
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "Insert Supabase",
            "type": "main"
          }
        ]
      ]
    },
    "HTTP Request GHL": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Email",
            "type": "main"
          }
        ]
      ]
    },
    "Insert Supabase": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Request GHL",
            "type": "main"
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "index": 0,
            "node": "Return Confirmation",
            "type": "main"
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}