n8n/lucia_whatsapp_agent.json
{
  "name": "LucIA WhatsApp Agent",
  "nodes": [
    {
      "id": "23a8b2cd-ea71-46fd-9658-0056637b58c7",
      "name": "Filter Text Message",
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nif (!body) return [];\n\n// Check if it's a valid WhatsApp message event\nconst entry = body.entry?.[0];\nconst change = entry?.changes?.[0];\nconst value = change?.value;\nconst messages = value?.messages;\n\nif (!messages || messages.length === 0) return [];\n\nconst msg = messages[0];\nif (msg.type === 'text' && msg.text && msg.text.body) {\n  return [{\n    json: {\n      text: msg.text.body,\n      from: msg.from,\n      contact_name: value.contacts?.[0]?.profile?.name || 'Cliente',\n      phone_number_id: value.metadata?.phone_number_id\n    }\n  }];\n}\n\nreturn [];"
      },
      "position": [
        420,
        240
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "e63a1ab3-cc72-466d-9658-0056637b58c7",
      "name": "AI Agent",
      "parameters": {
        "options": {
          "systemMessage": "=Eres LucIA, la asistente virtual inteligente y empática del Centro de Tutorías (CEDETU), atendiendo a los clientes directamente por WhatsApp. Tu tono es sumamente cálido, amigable, profesional y paciente. \\n\\nREGLAS DE CONVERSACIÓN EN WHATSAPP:\\n- Escribe de forma concisa y conversacional. Usa párrafos cortos de 2 o 3 líneas máximo. WhatsApp requiere respuestas dinámicas, evita textos extremadamente largos.\\n- Usa emojis con buen gusto para make los mensajes dinámicos y legibles.\\n- Usa negritas (*texto*) para resaltar palabras importantes (ej: *clases virtuales*, *entrevista de diagnóstico gratuita*).\\n- Tu objetivo es responder dudas sobre las tutorías de CEDETU y recopilar los datos del lead de manera fluida:\\n  - Nombre completo\\n  - Correo electrónico\\n  - Número de teléfono (Pregúntale activamente al cliente si desea registrar su número de WhatsApp actual: {{ $('Filter Text Message').item.json.from }} o si prefiere proporcionar otro número de contacto principal)\\n  - Materia que necesita reforzar\\n  - Nivel académico (Primaria, Secundaria, Bachillerato, Universidad)\\n  - Breve descripción del caso\\n- Cuando tengas al menos Nombre, Email, Teléfono y Materia de interés, DEBES invocar la herramienta \\\"guardar_lead\\\" para registrarlos en Supabase y GoHighLevel. (El número de teléfono a guardar debe ser el que te proporcione el cliente, o su número de WhatsApp actual: {{ $('Filter Text Message').item.json.from }} si no indica otro).\\n- Siempre ofrece la opción de agendar un *Entrevista de Diagnóstico Gratuita de 20 minutos* directamente en nuestro Calendly: https://calendly.com/cedetu\\n- Despídete cordialmente firmando como: \\\"*LucIA*, tu Asistente Virtual de CEDETU 🤖✨\\\".\""
        },
        "promptType": "define",
        "text": "={{ $json.text }}"
      },
      "position": [
        640,
        240
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "4iK6wrqLwNRksV0n",
          "name": "OpenAI account"
        }
      },
      "id": "cb1c34a2-eb41-45fe-85fa-7b24346e9699",
      "name": "OpenAI Chat Model",
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.7
        }
      },
      "position": [
        520,
        420
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1
    },
    {
      "id": "890bc892-0b1a-47fa-802c-7b22416b23cc",
      "name": "Window Buffer Memory",
      "parameters": {
        "contextKey": "chat_history",
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Filter Text Message').item.json.from }}"
      },
      "position": [
        660,
        420
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2
    },
    {
      "id": "ab7c8e9b-381a-45c1-8d2b-ff27b2cbb1d3",
      "name": "Guardar Lead Sub-Workflow Tool",
      "parameters": {
        "description": "Utiliza esta herramienta únicamente cuando el usuario te haya proporcionado sus datos de contacto completos (Nombre, Correo, Teléfono) y la Materia de interés, para registrarlos en el sistema Supabase y GoHighLevel.",
        "inputSchema": "{\\n  \\\"type\\\": \\\"object\\\",\\n  \\\"properties\\\": {\\n    \\\"nombre\\\": {\\n      \\\"type\\\": \\\"string\\\",\\n      \\\"description\\\": \\\"Nombre completo del lead\\\"\\n    },\\n    \\\"email\\\": {\\n      \\\"type\\\": \\\"string\\\",\\n      \\\"description\\\": \\\"Correo electrónico de contacto\\\"\\n    },\\n    \\\"telefono\\\": {\\n      \\\"type\\\": \\\"string\\\",\\n      \\\"description\\\": \\\"Número de teléfono del contacto\\\"\\n    },\\n    \\\"materia\\\": {\\n      \\\"type\\\": \\\"string\\\",\\n      \\\"description\\\": \\\"Materia que necesita reforzar\\\"\\n    },\\n    \\\"nivel\\\": {\\n      \\\"type\\\": \\\"string\\\",\\n      \\\"description\\\": \\\"Nivel académico del estudiante (Primaria, Secundaria, Bachillerato, Universidad)\\\"\\n    },\\n    \\\"descripcion\\\": {\\n      \\\"type\\\": \\\"string\\\",\\n      \\\"description\\\": \\\"Breve descripción de la necesidad académica\\\"\\n    }\\n  },\\n  \\\"required\\\": [\\\"nombre\\\", \\\"email\\\", \\\"telefono\\\", \\\"materia\\\"]\\n}",
        "name": "guardar_lead",
        "specifyInputSchema": true,
        "workflowId": "hITGXdI6ECjNDtYe"
      },
      "position": [
        800,
        420
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1
    },
    {
      "id": "18f92b7c-fa0e-4be7-8d82-df75c61abcc5",
      "name": "Webhook Trigger (POST)",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "lucia-whatsapp",
        "responseMode": "onReceived"
      },
      "position": [
        200,
        240
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "webhookId": "88779547-0d91-4332-a496-a11bf2297208"
    },
    {
      "id": "28f92b7c-fa0e-4be7-8d82-df75c61abcc6",
      "name": "Webhook Verification (GET)",
      "onError": "continueRegularOutput",
      "parameters": {
        "httpMethod": "GET",
        "options": {},
        "path": "lucia-whatsapp",
        "responseMode": "responseNode"
      },
      "position": [
        200,
        80
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "webhookId": "66bf548e-b15a-4c7e-83e7-3ef647679b5e"
    },
    {
      "id": "38f92b7c-fa0e-4be7-8d82-df75c61abcc7",
      "name": "Respond to Webhook",
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query[\\\"hub.challenge\\\"] }}"
      },
      "position": [
        420,
        80
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5
    },
    {
      "credentials": {
        "whatsAppApi": {
          "id": "b8AIBqrblIjhztKe",
          "name": "WhatsApp Account (Meta)"
        }
      },
      "id": "c3e4b5df-1a2b-3c4d-5e6f-7a8b9c0d1e2f",
      "name": "Send WhatsApp Message",
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Filter Text Message').item.json.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('Filter Text Message').item.json.from }}",
        "resource": "message",
        "textBody": "={{ $json.output }}"
      },
      "position": [
        920,
        240
      ],
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "webhookId": "4f3e28d5-531e-48c2-b351-bb413bbd70ad"
    },
    {
      "id": "e64c1bb3-dd72-477d-9658-0056637b58c7",
      "name": "HTTP Request GHL WhatsApp",
      "parameters": {
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer pit-62719809-63ac-4b11-8e4a-df5942c8e80e"
            },
            {
              "name": "Version",
              "value": "2021-07-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "jsonBody": "={\n  \"locationId\": \"JhSnXQVvO5cUmHqXRced\",\n  \"firstName\": \"{{ $('Filter Text Message').item.json.contact_name }}\",\n  \"phone\": \"{{ $('Filter Text Message').item.json.from }}\",\n  \"tags\": [\n    \"lead-whatsapp-lucia\"\n  ]\n}",
        "method": "POST",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "url": "https://services.leadconnectorhq.com/contacts/upsert"
      },
      "position": [
        640,
        80
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "IVa19l81qjUZcHse",
          "name": "Supabase account"
        }
      },
      "id": "supabase-log-inbound",
      "name": "Log Inbound Message",
      "parameters": {
        "columns": null,
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.from }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.contact_name }}"
            },
            {
              "fieldId": "direction",
              "fieldValue": "inbound"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.text }}"
            }
          ]
        },
        "operation": "create",
        "resource": "row",
        "table": null,
        "tableId": "whatsapp_messages",
        "valuesToSend": null
      },
      "position": [
        640,
        -100
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "IVa19l81qjUZcHse",
          "name": "Supabase account"
        }
      },
      "id": "supabase-log-outbound-ai",
      "name": "Log Outbound AI Message",
      "parameters": {
        "columns": null,
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Filter Text Message').item.json.from }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "LucIA (AI)"
            },
            {
              "fieldId": "direction",
              "fieldValue": "outbound"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('AI Agent').item.json.output }}"
            }
          ]
        },
        "operation": "create",
        "resource": "row",
        "table": null,
        "tableId": "whatsapp_messages",
        "valuesToSend": null
      },
      "position": [
        1140,
        240
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send WhatsApp Message",
            "type": "main"
          }
        ]
      ]
    },
    "Filter Text Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "main"
          },
          {
            "index": 0,
            "node": "HTTP Request GHL WhatsApp",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Log Inbound Message",
            "type": "main"
          }
        ]
      ]
    },
    "Guardar Lead Sub-Workflow Tool": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Send WhatsApp Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "Log Outbound AI Message",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook Trigger (POST)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Filter Text Message",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook Verification (GET)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Respond to Webhook",
            "type": "main"
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_memory"
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "errorWorkflow": "hqtExbNvPA6slEwu"
  }
}
