n8n/lucia_whatsapp_agent.json
{
  "name": "LucIA WhatsApp Agent",
  "nodes": [
    {
      "id": "23a8b2cd-ea71-46fd-9658-0056637b58c7",
      "name": "Filter Text Message",
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nif (!body) return [];\n\n// Check if it's a valid WhatsApp message event\nconst entry = body.entry?.[0];\nconst change = entry?.changes?.[0];\nconst value = change?.value;\nconst messages = value?.messages;\n\nif (!messages || messages.length === 0) return [];\n\nconst msg = messages[0];\nif (msg.type === 'text' && msg.text && msg.text.body) {\n  return [{\n    json: {\n      text: msg.text.body,\n      from: msg.from,\n      contact_name: value.contacts?.[0]?.profile?.name || 'Cliente',\n      phone_number_id: value.metadata?.phone_number_id\n    }\n  }];\n}\n\nreturn [];"
      },
      "position": [
        420,
        240
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "e63a1ab3-cc72-466d-9658-0056637b58c7",
      "name": "AI Agent",
      "parameters": {
        "options": {
          "systemMessage": "Eres LucIA, la asistente virtual inteligente y empática del Centro de Tutorías (CEDETU), atendiendo a los clientes directamente por WhatsApp. Tu tono es sumamente cálido, amigable, profesional y paciente. \n\nREGLAS DE CONVERSACIÓN EN WHATSAPP:\n- Escribe de forma concisa y conversacional. Usa párrafos cortos de 2 o 3 líneas máximo. WhatsApp requiere respuestas dinámicas, evita textos extremadamente largos.\n- Usa emojis con buen gusto para hacer los mensajes dinámicos y legibles.\n- Usa negritas (*texto*) para resaltar palabras importantes (ej: *clases virtuales*, *entrevista de diagnóstico gratuita*).\n- Tu objetivo es responder dudas sobre las tutorías de CEDETU y recopilar los datos del lead de manera fluida:\n  - Nombre completo\n  - Correo electrónico\n  - Número de teléfono (ya lo tienes, es el número de WhatsApp actual: {{ $('Filter Text Message').item.json.from }})\n  - Materia que necesita reforzar\n  - Nivel académico (Primaria, Secundaria, Bachillerato, Universidad)\n  - Breve descripción del caso\n- Cuando tengas al menos Nombre, Email y Materia de interés, DEBES invocar la herramienta \"guardar_lead\" para registrarlos en Supabase y GoHighLevel. (El número de teléfono pásalo como {{ $('Filter Text Message').item.json.from }}).\n- Siempre ofrece la opción de agendar un *Entrevista de Diagnóstico Gratuita de 20 minutos* directamente en nuestro Calendly: https://calendly.com/cedetu\n- Despídete cordialmente firmando como: \"*LucIA*, tu Asistente Virtual de CEDETU 🤖✨\"."
        },
        "promptType": "define",
        "text": "={{ $json.text }}"
      },
      "position": [
        640,
        240
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6
    },
    {
      "credentials": {
        "openAiApi": {
          "id": "4iK6wrqLwNRksV0n",
          "name": "OpenAI account"
        }
      },
      "id": "cb1c34a2-eb41-45fe-85fa-7b24346e9699",
      "name": "OpenAI Chat Model",
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.7
        }
      },
      "position": [
        520,
        420
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1
    },
    {
      "id": "890bc892-0b1a-47fa-802c-7b22416b23cc",
      "name": "Window Buffer Memory",
      "parameters": {
        "contextKey": "chat_history",
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Filter Text Message').item.json.from }}"
      },
      "position": [
        660,
        420
      ],
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2
    },
    {
      "id": "ab7c8e9b-381a-45c1-8d2b-ff27b2cbb1d3",
      "name": "Guardar Lead Sub-Workflow Tool",
      "parameters": {
        "description": "Utiliza esta herramienta únicamente cuando el usuario te haya proporcionado sus datos de contacto completos (Nombre, Correo, Teléfono) y la Materia de interés, para registrarlos en el sistema Supabase y GoHighLevel.",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"nombre\": {\n      \"type\": \"string\",\n      \"description\": \"Nombre completo del lead\"\n    },\n    \"email\": {\n      \"type\": \"string\",\n      \"description\": \"Correo electrónico de contacto\"\n    },\n    \"telefono\": {\n      \"type\": \"string\",\n      \"description\": \"Número de teléfono del contacto\"\n    },\n    \"materia\": {\n      \"type\": \"string\",\n      \"description\": \"Materia que necesita reforzar\"\n    },\n    \"nivel\": {\n      \"type\": \"string\",\n      \"description\": \"Nivel académico del estudiante (Primaria, Secundaria, Bachillerato, Universidad)\"\n    },\n    \"descripcion\": {\n      \"type\": \"string\",\n      \"description\": \"Breve descripción de la necesidad académica\"\n    }\n  },\n  \"required\": [\"nombre\", \"email\", \"telefono\", \"materia\"]\n}",
        "name": "guardar_lead",
        "specifyInputSchema": true,
        "workflowId": "hITGXdI6ECjNDtYe"
      },
      "position": [
        800,
        420
      ],
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1
    },
    {
      "id": "18f92b7c-fa0e-4be7-8d82-df75c61abcc5",
      "name": "Webhook Trigger (POST)",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "lucia-whatsapp",
        "responseMode": "onReceived"
      },
      "position": [
        200,
        240
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "webhookId": "ee9fc820-70dc-4ea5-8dc9-f9413c475781"
    },
    {
      "id": "28f92b7c-fa0e-4be7-8d82-df75c61abcc6",
      "name": "Webhook Verification (GET)",
      "onError": "continueRegularOutput",
      "parameters": {
        "httpMethod": "GET",
        "options": {},
        "path": "lucia-whatsapp",
        "responseMode": "responseNode"
      },
      "position": [
        200,
        80
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "webhookId": "6e369b63-fd88-4dfa-8669-050e6f4b68db"
    },
    {
      "id": "38f92b7c-fa0e-4be7-8d82-df75c61abcc7",
      "name": "Respond to Webhook",
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query[\"hub.challenge\"] }}"
      },
      "position": [
        420,
        80
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5
    },
    {
      "credentials": {
        "whatsAppApi": {
          "id": "b8AIBqrblIjhztKe",
          "name": "WhatsApp Account (Meta)"
        }
      },
      "id": "c3e4b5df-1a2b-3c4d-5e6f-7a8b9c0d1e2f",
      "name": "Send WhatsApp Message",
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Filter Text Message').item.json.phone_number_id }}",
        "recipientPhoneNumber": "={{ $('Filter Text Message').item.json.from }}",
        "resource": "message",
        "textBody": "={{ $json.output }}"
      },
      "position": [
        920,
        240
      ],
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "webhookId": "0eb9fec1-8c4b-4e2f-82fa-f84126eaa434"
    },
    {
      "id": "e64c1bb3-dd72-477d-9658-0056637b58c7",
      "name": "HTTP Request GHL WhatsApp",
      "type": "n8n-nodes-base.highLevel",
      "typeVersion": 1,
      "position": [
        640,
        80
      ],
      "parameters": {
        "firstName": "={{ $('Filter Text Message').item.json.contact_name }}",
        "operation": "upsert",
        "phone": "={{ $('Filter Text Message').item.json.from }}",
        "resource": "contact",
        "tags": [
          "lead-whatsapp-lucia"
        ]
      },
      "credentials": {
        "highLevelApi": {
          "id": "lybJUXV40zv92wqz",
          "name": "HighLevel account"
        }
      }
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send WhatsApp Message",
            "type": "main"
          }
        ]
      ]
    },
    "Filter Text Message": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "main"
          },
          {
            "node": "HTTP Request GHL WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Lead Sub-Workflow Tool": {
      "ai_tool": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_tool"
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Webhook Trigger (POST)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Filter Text Message",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook Verification (GET)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Respond to Webhook",
            "type": "main"
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "index": 0,
            "node": "AI Agent",
            "type": "ai_memory"
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true
  }
}