n8n/procesar_tutoria_agente.json
{
  "name": "Procesar Solicitud de Tutoría con Agente IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "supabase-tutoring-requests",
        "options": {}
      },
      "id": "e44d32a1-fa0b-4bd2-8e10-ff99c82abdd3",
      "name": "Webhook Supabase Trigger",
      "position": [
        208,
        240
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "webhookId": "df63e6a6-d06c-49c5-a734-d1ace53b745f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Sintetiza la solicitud recibida, genera el correo premium y prepara la alerta del bot de Telegram.",
        "options": {
          "systemMessage": "Eres LucIA, la coordinadora académica del Centro de Tutorías (CEDETU). Tu rol es coordinar de forma inteligente y empática la recepción de nuevas solicitudes de tutoría en el portal escolar.\n\nDATOS DE LA SOLICITUD ENTRANTE:\n- Alumno: {{ $node[\"Webhook Supabase Trigger\"].json.body.record.student_name }}\n- Materia: {{ $node[\"Webhook Supabase Trigger\"].json.body.record.subject }}\n- Nivel Escolar: {{ $node[\"Webhook Supabase Trigger\"].json.body.record.academic_level }}\n- Dificultades: {{ $node[\"Webhook Supabase Trigger\"].json.body.record.problem_description }}\n- Horario de Preferencia: {{ $node[\"Webhook Supabase Trigger\"].json.body.record.preferred_schedule || 'No especificado' }}\n- Email del Alumno/Padre: {{ $node[\"Webhook Supabase Trigger\"].json.body.user_email }}\n- Teléfono/WhatsApp: {{ $node[\"Webhook Supabase Trigger\"].json.body.user_phone }}\n\nTAREAS A TU CARGO (COORDINACIÓN AGENTIC):\n1. **Redactar Correo de Operaciones (SMTP)**: Formula un correo muy empático y tranquilizador de CEDETU para enviarlo a operaciones@centrodetutorias.com (con copia al alumno en {{ $node[\"Webhook Supabase Trigger\"].json.body.user_email }}). El correo debe confirmar la solicitud y sugerir verificar la disponibilidad en Calendly (https://calendly.com/cedetu).\n2. **Notificar a Telegram (tutobot)**: Diseña un mensaje ejecutivo corto, directo y formateado con emojis para alertar de inmediato a los administradores de CEDETU.\n3. **Validación de Disponibilidad**: Recomienda el enlace de Calendly para terminar de coordinar la cita.\n\nGenera una respuesta en formato JSON estructurado EXACTAMENTE como sigue para que los siguientes nodos puedan procesarlo con 100% de confiabilidad:\n{\n  \"email_subject\": \"Asunto del correo personalizado\",\n  \"email_html\": \"Cuerpo del correo en formato HTML responsivo premium\",\n  \"telegram_message\": \"Mensaje resumen con emojis para Telegram\",\n  \"calendly_info\": \"Instrucción sobre disponibilidad y cita\"\n}"
        }
      },
      "id": "e63a1ab3-cc72-466d-9658-0056637b58c7",
      "name": "AI Agent Coordinator",
      "position": [
        432,
        240
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.5
        }
      },
      "id": "cb1c34a2-eb41-45fe-85fa-7b24346e9699",
      "name": "OpenAI Chat Model",
      "position": [
        320,
        432
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "4iK6wrqLwNRksV0n",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "operaciones@centrodetutorias.com",
        "toEmail": "operaciones@centrodetutorias.com",
        "ccEmail": "={{ $node[\"Webhook Supabase Trigger\"].json.body.user_email }}",
        "subject": "={{ JSON.parse($node[\"AI Agent Coordinator\"].json.output).email_subject }}",
        "html": "={{ JSON.parse($node[\"AI Agent Coordinator\"].json.output).email_html }}",
        "options": {}
      },
      "id": "e63a8a3c-cc72-466d-9658-0056637b58c7",
      "name": "Send Operations Email",
      "position": [
        672,
        240
      ],
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "credentials": {
        "smtp": {
          "id": "RrEqzBTLbIQz9QNL",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $node[\"SMTP Credentials Helper\"].json.telegram_token || 'INSERTE_TOKEN_BOT' }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"chat_id\": \"{{ $node[\"SMTP Credentials Helper\"].json.chat_id || 'INSERTE_CHAT_ID' }}\", \"text\": \"{{ JSON.parse($node[\"AI Agent Coordinator\"].json.output).telegram_message }}\", \"parse_mode\": \"HTML\"}",
        "options": {}
      },
      "id": "b18c9b2a-cc41-45fe-85fa-7b24346e9699",
      "name": "Telegram Notifier (HTTP Request)",
      "position": [
        864,
        240
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    telegram_token: \"INSERTE_SU_TELEGRAM_BOT_TOKEN\",\n    chat_id: \"INSERTE_SU_CHAT_ID_DE_TELEGRAM\"\n  }\n}];"
      },
      "id": "ab7c8e9b-381a-45c1-8d2b-ff27b2cbb1d3",
      "name": "SMTP Credentials Helper",
      "position": [
        672,
        432
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "tutoring_requests"
      },
      "id": "c12d8a9b-381a-4fe1-9d2b-ff27b2cbb1d3",
      "name": "Update Supabase Status",
      "position": [
        1072,
        240
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "credentials": {
        "supabaseApi": {
          "id": "IVa19l81qjUZcHse",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "AI Agent Coordinator": {
      "main": [
        [
          {
            "index": 0,
            "node": "Send Operations Email",
            "type": "main"
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "index": 0,
            "node": "AI Agent Coordinator",
            "type": "ai_languageModel"
          }
        ]
      ]
    },
    "Send Operations Email": {
      "main": [
        [
          {
            "index": 0,
            "node": "Telegram Notifier (HTTP Request)",
            "type": "main"
          }
        ]
      ]
    },
    "Telegram Notifier (HTTP Request)": {
      "main": [
        [
          {
            "index": 0,
            "node": "Update Supabase Status",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook Supabase Trigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "AI Agent Coordinator",
            "type": "main"
          },
          {
            "index": 0,
            "node": "SMTP Credentials Helper",
            "type": "main"
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "binaryMode": "separate",
    "errorWorkflow": "hqtExbNvPA6slEwu"
  }
}
