n8n/reporting_agent_workflow.json
{
  "name": "Reporting Agent Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 8,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger-1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leads",
        "returnAll": true
      },
      "id": "supabase-get-leads-1",
      "name": "Get Leads",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "IVa19l81qjUZcHse",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "tutoring_requests",
        "returnAll": true
      },
      "id": "supabase-get-requests-1",
      "name": "Get Tutoring Requests",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        600,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "IVa19l81qjUZcHse",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://paperclip.centrodetutorias.com:3100/api/companies/87d21d03-de87-46f0-8f1d-27d223f99ce3/costs/summary",
        "method": "GET",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "paperclip-get-costs-summary-1",
      "name": "Get Costs Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "yF6GX0x5QPUy9d4K",
          "name": "Paperclip Bearer Key"
        }
      }
    },
    {
      "parameters": {
        "url": "http://paperclip.centrodetutorias.com:3100/api/companies/87d21d03-de87-46f0-8f1d-27d223f99ce3/costs/by-agent",
        "method": "GET",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "paperclip-get-costs-by-agent-1",
      "name": "Get Costs By Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "yF6GX0x5QPUy9d4K",
          "name": "Paperclip Bearer Key"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const leads = $('Get Leads').all();\nconst requests = $('Get Tutoring Requests').all();\nconst costsSummary = $('Get Costs Summary').first().json;\nconst costsByAgent = $('Get Costs By Agent').all();\n\n// Calcular timestamp de hace 24 horas\nconst now = new Date();\nconst past24h = new Date(now.getTime() - 24 * 60 * 60 * 1000);\n\n// 1. Procesamiento de Leads\nlet newLeads24h = 0;\nconst supportTypeCounts = {};\nconst gradeCounts = {};\nconst subjectCounts = {};\n\nleads.forEach(item => {\n  const lead = item.json;\n  const createdAt = lead.created_at ? new Date(lead.created_at) : null;\n  if (createdAt && createdAt >= past24h) {\n    newLeads24h++;\n    \n    const supportType = lead.support_type || 'No especificado';\n    supportTypeCounts[supportType] = (supportTypeCounts[supportType] || 0) + 1;\n    \n    const grade = lead.grade || 'No especificado';\n    gradeCounts[grade] = (gradeCounts[grade] || 0) + 1;\n    \n    const subject = lead.subject || 'No especificado';\n    subjectCounts[subject] = (subjectCounts[subject] || 0) + 1;\n  }\n});\n\n// 2. Procesamiento de Solicitudes de Tutoría\nlet newRequests24h = 0;\nconst requestStatusCounts = {\n  'new': 0,\n  'contacted': 0,\n  'scheduled': 0,\n  'completed': 0,\n  'cancelled': 0\n};\n\nrequests.forEach(item => {\n  const req = item.json;\n  const createdAt = req.created_at ? new Date(req.created_at) : null;\n  if (createdAt && createdAt >= past24h) {\n    newRequests24h++;\n  }\n  \n  const status = req.status || 'new';\n  requestStatusCounts[status] = (requestStatusCounts[status] || 0) + 1;\n});\n\n// 3. Procesamiento de Costos de IA\nconst totalSpendUSD = (costsSummary.spendCents || 0) / 100;\nconst totalBudgetUSD = (costsSummary.budgetCents || 0) / 100;\nconst utilizationPercent = costsSummary.utilizationPercent || 0;\n\nlet agentCostsMarkdown = '';\ncostsByAgent.forEach(item => {\n  const agent = item.json;\n  const costUSD = (agent.costCents || 0) / 100;\n  if (costUSD > 0 || agent.inputTokens > 0) {\n    agentCostsMarkdown += `| ${agent.agentName} | $${costUSD.toFixed(4)} | ${agent.inputTokens.toLocaleString()} | ${agent.outputTokens.toLocaleString()} |\\n`;\n  }\n});\n\nif (!agentCostsMarkdown) {\n  agentCostsMarkdown = '| Ninguno | $0.00 | 0 | 0 |\\n';\n}\n\n// 4. Formatear detalle por canal\nlet channelsMarkdown = '';\nObject.keys(supportTypeCounts).forEach(channel => {\n  channelsMarkdown += `- **${channel}**: ${supportTypeCounts[channel]} leads\\n`;\n});\nif (!channelsMarkdown) channelsMarkdown = 'No se registraron nuevos leads.\\n';\n\n// Formatear grados\nlet gradesMarkdown = '';\nObject.keys(gradeCounts).forEach(grade => {\n  gradesMarkdown += `- **${grade}**: ${gradeCounts[grade]} leads\\n`;\n});\nif (!gradesMarkdown) gradesMarkdown = 'N/A\\n';\n\n// Formatear materias\nlet subjectsMarkdown = '';\nObject.keys(subjectCounts).forEach(sub => {\n  subjectsMarkdown += `- **${sub}**: ${subjectCounts[sub]} leads\\n`;\n});\nif (!subjectsMarkdown) subjectsMarkdown = 'N/A\\n';\n\n// 5. Construir reporte final Markdown\nconst todayStr = now.toISOString().split('T')[0];\nconst markdownReport = `### 📊 INFORME DIARIO DE OPERACIONES Y COSTOS - CEDETU (${todayStr})\\n\\n#### 1. Métrica de Captación de Leads (Últimas 24 Horas)\\n*   **Total de Nuevos Leads:** ${newLeads24h}\\n*   **Detalle por Canal / Medio de Captación:**\\n${channelsMarkdown}\\n*   **Distribución por Nivel Académico:**\\n${gradesMarkdown}\\n*   **Distribución por Materia de Interés:**\\n${subjectsMarkdown}\\n\\n#### 2. Estado de Solicitudes de Tutoría\\n*   **Nuevas solicitudes en últimas 24h:** ${newRequests24h}\\n*   **Acumulado histórico por Estado:**\\n    - **Nuevas (new):** ${requestStatusCounts['new'] || 0}\\n    - **Contactadas (contacted):** ${requestStatusCounts['contacted'] || 0}\\n    - **Agendadas (scheduled):** ${requestStatusCounts['scheduled'] || 0}\\n    - **Completadas (completed):** ${requestStatusCounts['completed'] || 0}\\n    - **Canceladas (cancelled):** ${requestStatusCounts['cancelled'] || 0}\\n\\n#### 3. Control de Costos de API de IA (Paperclip)\\n*   **Gasto Acumulado Mensual de la Empresa:** $${totalSpendUSD.toFixed(2)} USD\\n*   **Presupuesto Mensual:** $${totalBudgetUSD.toFixed(2)} USD (Utilización: ${utilizationPercent.toFixed(1)}%)\\n\\n**Desglose detallado por Agente Operativo:**\\n\\n| Agente | Costo Total (USD) | Tokens Entrada | Tokens Salida |\\n| :--- | :--- | :--- | :--- |\\n${agentCostsMarkdown}\\n\\n*Informe generado automáticamente por el Reporting Agent a las 08:00 AM. Para cualquier duda, responde a este Issue.*`;\n\nreturn [{\n  json: {\n    today: todayStr,\n    markdownReport\n  }\n}];"
      },
      "id": "code-compile-report-1",
      "name": "Compile Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://paperclip.centrodetutorias.com:3100/api/companies/87d21d03-de87-46f0-8f1d-27d223f99ce3/issues",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"Informe Diario: Leads y Costos AI ({{ $json.today }})\",\n  \"description\": {{ JSON.stringify($json.markdownReport) }},\n  \"status\": \"todo\",\n  \"priority\": \"low\",\n  \"assigneeAgentId\": \"3c88bb29-c1d9-4358-aa4c-50c32bccc8f4\"\n}",
        "options": {}
      },
      "id": "paperclip-create-issue-1",
      "name": "Create Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1400,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "yF6GX0x5QPUy9d4K",
          "name": "Paperclip Bearer Key"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Leads": {
      "main": [
        [
          {
            "node": "Get Tutoring Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Tutoring Requests": {
      "main": [
        [
          {
            "node": "Get Costs Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Costs Summary": {
      "main": [
        [
          {
            "node": "Get Costs By Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Costs By Agent": {
      "main": [
        [
          {
            "node": "Compile Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Report": {
      "main": [
        [
          {
            "node": "Create Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "hqtExbNvPA6slEwu"
  },
  "active": true
}
