n8n/send_manual_whatsapp.json
{
  "id": "U4yZmBSWM7TdSBid",
  "name": "Send Manual WhatsApp",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "send-manual-whatsapp",
        "responseMode": "onReceived"
      },
      "position": [
        200,
        240
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1
    },
    {
      "id": "check-channel",
      "name": "Check Channel",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        240
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.channel || 'whatsapp' }}",
              "operation": "equal",
              "value2": "whatsapp"
            }
          ]
        }
      }
    },
    {
      "credentials": {
        "whatsAppApi": {
          "id": "b8AIBqrblIjhztKe",
          "name": "WhatsApp Account (Meta)"
        }
      },
      "id": "waba-send",
      "name": "Send WhatsApp Message",
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1106627229206345",
        "recipientPhoneNumber": "={{ $('Webhook').item.json.body.phone }}",
        "resource": "message",
        "textBody": "={{ $('Webhook').item.json.body.message }}"
      },
      "position": [
        620,
        140
      ],
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1
    },
    {
      "id": "meta-send-manual",
      "name": "Send Meta Message",
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/me/messages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').item.json.body.phone }}\"\n  },\n  \"message\": {\n    \"text\": \"{{ $('Webhook').item.json.body.message }}\"\n  }\n}",
        "options": {}
      },
      "credentials": {
        "httpQueryAuth": {
          "id": "Hznf2ZMg4wObho4L",
          "name": "Meta Page Access Token"
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        620,
        340
      ]
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "IVa19l81qjUZcHse",
          "name": "Supabase account"
        }
      },
      "id": "supabase-insert",
      "name": "Log Manual Message",
      "parameters": {
        "table": "whatsapp_messages",
        "operation": "insert",
        "columns": [
          "phone",
          "name",
          "direction",
          "content",
          "channel"
        ],
        "valuesToSend": {
          "values": [
            {
              "column": "phone",
              "value": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "column": "name",
              "value": "={{ $('Webhook').item.json.body.adminName || 'Admin' }}"
            },
            {
              "column": "direction",
              "value": "outbound"
            },
            {
              "column": "content",
              "value": "={{ $('Webhook').item.json.body.message }}"
            },
            {
              "column": "channel",
              "value": "={{ $('Webhook').item.json.body.channel || 'whatsapp' }}"
            }
          ]
        }
      },
      "position": [
        860,
        240
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Channel": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Meta Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Message": {
      "main": [
        [
          {
            "node": "Log Manual Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Meta Message": {
      "main": [
        [
          {
            "node": "Log Manual Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}