n8n/send_manual_whatsapp.json
{
  "name": "Send Manual WhatsApp",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "send-manual-whatsapp",
        "responseMode": "onReceived"
      },
      "position": [
        200,
        240
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "webhookId": "84be8da8-d8be-461e-a2fd-6f5d53ced2a5"
    },
    {
      "id": "check-channel",
      "name": "Check Channel",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        240
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.channel || 'whatsapp' }}",
              "operation": "equal",
              "value2": "whatsapp"
            }
          ]
        }
      }
    },
    {
      "credentials": {
        "whatsAppApi": {
          "id": "b8AIBqrblIjhztKe",
          "name": "WhatsApp Account (Meta)"
        }
      },
      "id": "waba-send",
      "name": "Send WhatsApp Message",
      "parameters": {
        "operation": "send",
        "phoneNumberId": "1106627229206345",
        "recipientPhoneNumber": "={{ $('Webhook').item.json.body.phone }}",
        "resource": "message",
        "textBody": "={{ $('Webhook').item.json.body.message }}"
      },
      "position": [
        620,
        140
      ],
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "webhookId": "5f16df90-db1a-4613-972b-1c9eb68a8fe6"
    },
    {
      "id": "meta-send-manual",
      "name": "Send Meta Message",
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "method": "POST",
        "url": "https://graph.facebook.com/v19.0/me/messages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"recipient\": { \"id\": $('Webhook').item.json.body.phone }, \"message\": { \"text\": $('Webhook').item.json.body.message }, \"messaging_type\": \"MESSAGE_TAG\", \"tag\": \"HUMAN_AGENT\" } }}",
        "options": {}
      },
      "credentials": {
        "httpQueryAuth": {
          "id": "3sxSOv0XdFSMPbsT",
          "name": "Meta Page Access Token v2"
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        620,
        340
      ]
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "IVa19l81qjUZcHse",
          "name": "Supabase account"
        }
      },
      "id": "supabase-insert",
      "name": "Log Manual Message",
      "parameters": {
        "useCustomSchema": false,
        "resource": "row",
        "operation": "create",
        "tableId": "whatsapp_messages",
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Webhook').item.json.body.phone }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Webhook').item.json.body.adminName || 'Admin' }}"
            },
            {
              "fieldId": "direction",
              "fieldValue": "outbound"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $('Webhook').item.json.body.message }}"
            },
            {
              "fieldId": "channel",
              "fieldValue": "={{ $('Webhook').item.json.body.channel || 'whatsapp' }}"
            }
          ]
        }
      },
      "position": [
        860,
        240
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Channel": {
      "main": [
        [
          {
            "node": "Send WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Meta Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Message": {
      "main": [
        [
          {
            "node": "Log Manual Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Meta Message": {
      "main": [
        [
          {
            "node": "Log Manual Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}