n8n/supabase_leads_automation.json
{
  "name": "Supabase Leads Automation",
  "nodes": [
    {
      "id": "webhook-1",
      "name": "Webhook",
      "parameters": {
        "httpMethod": "POST",
        "options": {},
        "path": "supabase-leads"
      },
      "position": [
        256,
        304
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "webhookId": "9106e6ff-3641-405a-b8b1-1d32e367caca"
    },
    {
      "credentials": {
        "telegramApi": {
          "id": "C70mrh8zZbUll0Zw",
          "name": "Telegram account"
        }
      },
      "id": "telegram-1",
      "name": "Notificación Telegram",
      "parameters": {
        "operation": "sendMessage",
        "additionalFields": {},
        "chatId": "724801911",
        "text": "={{'¡Nuevo Lead Recibido!\\\\\\\\nNombre: ' + $json.body.record.parent_or_student_name + '\\\\\\\\nTeléfono: ' + $json.body.record.phone + '\\\\\\\\nEmail: ' + $json.body.record.email + '\\\\\\\\nMateria: ' + $json.body.record.subject + '\\\\\\\\nDescripción: ' + $json.body.record.description}}"
      },
      "position": [
        512,
        208
      ],
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "webhookId": "9eb66bb1-9f2e-4cab-8f1b-85985ded08d5"
    },
    {
      "credentials": {
        "smtp": {
          "id": "RrEqzBTLbIQz9QNL",
          "name": "SMTP account"
        }
      },
      "id": "email-1",
      "name": "Correo de Bienvenida",
      "parameters": {
        "fromEmail": "operaciones@centrodetutorias.com",
        "options": {},
        "subject": "=¡Hemos recibido tu solicitud, {{$json.body.record.parent_or_student_name}}! 🚀",
        "text": "=Hola {{$json.body.record.parent_or_student_name}},\\n\\n¡Gracias por contactar al Centro de Tutorías!\\n\\nHemos recibido tu solicitud para apoyo en {{$json.body.record.subject}}.\\n\\nModalidad: {{$json.body.record.support_type}}\\nDetalles: {{$json.body.record.description}}\\n\\nMuy pronto uno de nuestros coordinadores académicos te llamará al {{$json.body.record.phone}} para agendar tu entrevista de diagnóstico gratuita.\\n\\nSi tienes prisa, escríbenos directamente a WhatsApp: https://wa.me/50257152096\\n\\nSaludos cordiales,\\nEl equipo del Centro de Tutorías",
        "toEmail": "={{$json.body.record.email}}"
      },
      "position": [
        512,
        400
      ],
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "webhookId": "18129099-5ebe-4c2c-8a79-84dc97607f33"
    },
    {
      "id": "code-extract",
      "name": "Extraer Datos del Lead",
      "parameters": {
        "jsCode": "return { json: $input.item.json.body.record || {} };"
      },
      "position": [
        512,
        800
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "id": "exec-1",
      "name": "Ejecutar Calificación",
      "parameters": {
        "options": {},
        "workflowId": "Mwcb19HS9Zj1S76j"
      },
      "position": [
        720,
        800
      ],
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1
    },
    {
      "credentials": {
        "whatsAppApi": {
          "id": "b8AIBqrblIjhztKe",
          "name": "WhatsApp Account (Meta)"
        }
      },
      "id": "whatsapp-1",
      "name": "WhatsApp Coordinar",
      "parameters": {
        "additionalFields": {},
        "operation": "send",
        "phoneNumberId": "=1106627229206345",
        "recipientPhoneNumber": "={{ $json.body.record.phone.startsWith('502') ? $json.body.record.phone : '502' + $json.body.record.phone }}",
        "resource": "message",
        "textBody": "=¡Hola {{$json.body.record.parent_or_student_name}}! 🚀 Te saludamos del Centro de Tutorías. Hemos recibido tu solicitud para apoyo en *{{$json.body.record.subject}}*.\\n\\nQuisiéramos agendar una breve *entrevista de diagnóstico gratuita de 15 minutos* para conocer el caso en detalle y asignarte al tutor ideal. ¿Te queda bien que coordinemos por aquí? 😊"
      },
      "position": [
        512,
        608
      ],
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "webhookId": "c0b076b4-c9f0-4474-8ead-c11217e31b94"
    },
    {
      "credentials": {
        "supabaseApi": {
          "id": "IVa19l81qjUZcHse",
          "name": "Supabase account"
        }
      },
      "id": "supabase-log-template",
      "name": "Log Outbound Template Message",
      "parameters": {
        "columns": null,
        "dataToSend": "defineBelow",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone",
              "fieldValue": "={{ $('Webhook').item.json.body.record.phone.startsWith('502') ? $('Webhook').item.json.body.record.phone : '502' + $('Webhook').item.json.body.record.phone }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "Sistema (Template)"
            },
            {
              "fieldId": "direction",
              "fieldValue": "outbound"
            },
            {
              "fieldId": "content",
              "fieldValue": "=¡Hola {{ $('Webhook').item.json.body.record.parent_or_student_name }}! 🚀 Te saludamos del Centro de Tutorías. Hemos recibido tu solicitud para apoyo en *{{ $('Webhook').item.json.body.record.subject }}*.\\n\\nQuisiéramos agendar una breve *entrevista de diagnóstico gratuita de 15 minutos* para conocer el caso en detalle y asignarte al tutor ideal. ¿Te queda bien que coordinemos por aquí? 😊"
            }
          ]
        },
        "operation": "create",
        "resource": "row",
        "table": null,
        "tableId": "whatsapp_messages",
        "valuesToSend": null
      },
      "position": [
        750,
        608
      ],
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1
    },
    {
      "id": "paperclip-issue-request",
      "name": "Crear Issue en Paperclip",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        512,
        1000
      ],
      "parameters": {
        "authentication": "genericCredentialType",
        "contentType": "json",
        "genericAuthType": "httpHeaderAuth",
        "jsonBody": "={\n  \"title\": \"Nuevo Lead Recibido: {{ $json.body.record.parent_or_student_name || '' }}\",\n  \"description\": \"Detalles del lead:\\nNombre: {{ $json.body.record.parent_or_student_name || '' }}\\nTeléfono: {{ $json.body.record.phone || '' }}\\nEmail: {{ $json.body.record.email || '' }}\\nMateria: {{ $json.body.record.subject || '' }}\\nDescripción: {{ $json.body.record.description || '' }}\\nTipo de apoyo: {{ $json.body.record.support_type || '' }}\",\n  \"status\": \"todo\",\n  \"priority\": \"medium\",\n  \"assigneeAgentId\": \"876bad48-2bd7-4dd4-a429-6bf95f6a94f6\",\n  \"projectId\": \"4b0dea6e-d88c-423f-bde0-680143ee643e\"\n}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "url": "http://cedetu-paperclipapp-6vqkln:3100/api/companies/87d21d03-de87-46f0-8f1d-27d223f99ce3/issues"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "yF6GX0x5QPUy9d4K",
          "name": "Paperclip Bearer Key"
        }
      }
    }
  ],
  "connections": {
    "Extraer Datos del Lead": {
      "main": [
        [
          {
            "index": 0,
            "node": "Ejecutar Calificación",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "index": 0,
            "node": "Notificación Telegram",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Correo de Bienvenida",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Extraer Datos del Lead",
            "type": "main"
          },
          {
            "index": 0,
            "node": "WhatsApp Coordinar",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Crear Issue en Paperclip",
            "type": "main"
          }
        ]
      ]
    },
    "WhatsApp Coordinar": {
      "main": [
        [
          {
            "index": 0,
            "node": "Log Outbound Template Message",
            "type": "main"
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "hqtExbNvPA6slEwu"
  }
}
