n8n/supabase_leads_automation.json
{
  "name": "Supabase Leads Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "supabase-leads",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "position": [
        256,
        304
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "webhookId": "475ba48f-d4ac-4c09-aec1-451933753730"
    },
    {
      "parameters": {
        "chatId": "724801911",
        "text": "={{'¡Nuevo Lead Recibido!\\\\nNombre: ' + $json.body.record.parent_or_student_name + '\\\\nTeléfono: ' + $json.body.record.phone + '\\\\nEmail: ' + $json.body.record.email + '\\\\nMateria: ' + $json.body.record.subject + '\\\\nDescripción: ' + $json.body.record.description}}",
        "additionalFields": {}
      },
      "id": "telegram-1",
      "name": "Notificación Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        512,
        208
      ],
      "webhookId": "9eb66bb1-9f2e-4cab-8f1b-85985ded08d5",
      "credentials": {
        "telegramApi": {
          "id": "C70mrh8zZbUll0Zw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "operaciones@centrodetutorias.com",
        "toEmail": "={{$json.body.record.email}}",
        "subject": "=¡Hemos recibido tu solicitud, {{$json.body.record.parent_or_student_name}}! 🚀",
        "options": {},
        "html": "=<p>Hola <b>{{$json.body.record.parent_or_student_name}}</b>,</p><p>¡Gracias por contactar al Centro de Tutorías!</p><p>Hemos recibido tu solicitud para apoyo en <b>{{$json.body.record.subject}}</b>.</p><ul><li><b>Modalidad:</b> {{$json.body.record.support_type}}</li><li><b>Detalles:</b> {{$json.body.record.description}}</li></ul><p>Muy pronto uno de nuestros coordinadores académicos te llamará al <b>{{$json.body.record.phone}}</b> para agendar tu entrevista de diagnóstico gratuita.</p><p>Si tienes prisa, escríbenos directamente a WhatsApp: <a href=\"https://wa.me/50257152096\">Clic aquí (+502 5715 2096)</a></p><p>Saludos cordiales,<br><b>El equipo del Centro de Tutorías</b></p>",
        "text": "=Hola {{$json.body.record.parent_or_student_name}},\n\n¡Gracias por contactar al Centro de Tutorías!\n\nHemos recibido tu solicitud para apoyo en {{$json.body.record.subject}}.\n\nModalidad: {{$json.body.record.support_type}}\nDetalles: {{$json.body.record.description}}\n\nMuy pronto uno de nuestros coordinadores académicos te llamará al {{$json.body.record.phone}} para agendar tu entrevista de diagnóstico gratuita.\n\nSi tienes prisa, escríbenos directamente a WhatsApp: https://wa.me/50257152096\n\nSaludos cordiales,\nEl equipo del Centro de Tutorías"
      },
      "id": "email-1",
      "name": "Correo de Bienvenida",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        512,
        400
      ],
      "webhookId": "18129099-5ebe-4c2c-8a79-84dc97607f33",
      "credentials": {
        "smtp": {
          "id": "RrEqzBTLbIQz9QNL",
          "name": "SMTP account"
        }
      }
    },
    {
      "id": "code-extract",
      "name": "Extraer Datos del Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        800
      ],
      "parameters": {
        "jsCode": "return { json: $input.item.json.body.record || {} };"
      }
    },
    {
      "id": "exec-1",
      "name": "Ejecutar Calificación",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        712,
        800
      ],
      "parameters": {
        "workflowId": "Mwcb19HS9Zj1S76j"
      }
    },
    {
      "id": "whatsapp-1",
      "name": "WhatsApp Coordinar",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        512,
        600
      ],
      "parameters": {
        "resource": "message",
        "operation": "send",
        "phoneNumberId": "={{ 'SELECCIONAR_REMITENTE_EN_N8N' }}",
        "recipientPhoneNumber": "={{ $json.body.record.phone.startsWith('502') ? $json.body.record.phone : '502' + $json.body.record.phone }}",
        "textBody": "=¡Hola {{$json.body.record.parent_or_student_name}}! 🚀 Te saludamos del Centro de Tutorías. Hemos recibido tu solicitud para apoyo en *{{$json.body.record.subject}}*.\n\nQuisiéramos agendar una breve *entrevista de diagnóstico gratuita de 15 minutos* para conocer el caso en detalle y asignarte al tutor ideal. ¿Te queda bien que coordinemos por aquí? 😊"
      },
      "credentials": {
        "whatsAppApi": {
          "id": "b8AIBqrblIjhztKe",
          "name": "WhatsApp Account (Meta)"
        }
      },
      "webhookId": "c0b076b4-c9f0-4474-8ead-c11217e31b94"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Notificación Telegram",
            "type": "main",
            "index": 0
          },
          {
            "node": "Correo de Bienvenida",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extraer Datos del Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp Coordinar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos del Lead": {
      "main": [
        [
          {
            "node": "Ejecutar Calificación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "America/Guatemala",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}