n8n/telegram_paperclip_gateway.json
{
  "name": "Telegram Paperclip Gateway",
  "nodes": [
    {
      "parameters": {
        "additionalFields": {},
        "updates": [
          "message"
        ]
      },
      "id": "tel-trigger-1",
      "name": "TelegramTrigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        200,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "C70mrh8zZbUll0Zw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const message = $input.item.json.message;\nif (!message) return [];\n\nconst text = message.text || '';\nconst chatId = message.chat.id;\nconst messageId = message.message_id;\n\n// 1. Seguridad: solo Antonio Polanco\nif (chatId !== 724801911) {\n  return []; // Ignorar silenciosamente\n}\n\nfunction reply(text) {\n  return {\n    json: {\n      action: 'reply',\n      chatId,\n      replyToMessageId: messageId,\n      text,\n      parseMode: 'Markdown'\n    }\n  };\n}\n\n// 2. Ayuda e Inicio\nif (text.startsWith('/start') || text.startsWith('/help') || !text.startsWith('/tarea')) {\n  const helpMessage = `📝 *Cómo asignar tareas a tus agentes:*\nUsa el siguiente formato:\n\\`/tarea [agente]: [instrucción]\\`\n\n🤖 *Agentes disponibles (usa el alias):*\n- *cto*: CTO Agent\n- *n8n* o *automation*: n8n Automation Agent\n- *reporting* o *reportes*: Reporting Agent\n- *devops*: DevOps Agent\n- *cos* o *chief*: Chief of Staff Agent\n- *whatsapp* o *wa*: WhatsApp Business Agent\n- *ceo*: CEO Agent\n\n💡 *Ejemplo:*\n\\`/tarea cto: Escribe un script en Python para limpiar la base de datos.\\``;\n  return [reply(helpMessage)];\n}\n\n// 3. Expresión regular para parsear comando\nconst match = text.match(/^\\/tarea\\s+(\\w+)\\s*:\\s*(.+)$/is);\nif (!match) {\n  return [reply(`⚠️ *Formato incorrecto.*\nUsa: \\`/tarea [agente]: [instrucción]\\`\n\nEjemplo: \\`/tarea cto: Crear copia de seguridad.\\``)];\n}\n\nconst agentAlias = match[1].toLowerCase().trim();\nconst instruction = match[2].trim();\n\nconst agentMap = {\n  'cto': '19948f90-95d4-4cb1-afd7-9ff64450fdf0',\n  'n8n': 'df330bdb-7956-4a34-a8c8-5e2df95c14e9',\n  'automation': 'df330bdb-7956-4a34-a8c8-5e2df95c14e9',\n  'automatizacion': 'df330bdb-7956-4a34-a8c8-5e2df95c14e9',\n  'reporting': '3c88bb29-c1d9-4358-aa4c-50c32bccc8f4',\n  'reportes': '3c88bb29-c1d9-4358-aa4c-50c32bccc8f4',\n  'devops': 'e895240c-8524-403a-8770-d095915d8302',\n  'cos': '9819d4cb-e0b7-45d8-8e26-b257298aac79',\n  'chief': '9819d4cb-e0b7-45d8-8e26-b257298aac79',\n  'staff': '9819d4cb-e0b7-45d8-8e26-b257298aac79',\n  'whatsapp': '876bad48-2bd7-4dd4-a429-6bf95f6a94f6',\n  'wa': '876bad48-2bd7-4dd4-a429-6bf95f6a94f6',\n  'comercial': '876bad48-2bd7-4dd4-a429-6bf95f6a94f6',\n  'ceo': 'b713f1b8-1b78-486c-b6ef-0fc2a885f2ec'\n};\n\nconst agentMapNames = {\n  '19948f90-95d4-4cb1-afd7-9ff64450fdf0': 'CTO Agent',\n  'df330bdb-7956-4a34-a8c8-5e2df95c14e9': 'n8n Automation Agent',\n  '3c88bb29-c1d9-4358-aa4c-50c32bccc8f4': 'Reporting Agent',\n  'e895240c-8524-403a-8770-d095915d8302': 'DevOps Agent',\n  '9819d4cb-e0b7-45d8-8e26-b257298aac79': 'Chief of Staff Agent',\n  '876bad48-2bd7-4dd4-a429-6bf95f6a94f6': 'WhatsApp Business Agent',\n  'b713f1b8-1b78-486c-b6ef-0fc2a885f2ec': 'CEO Agent'\n};\n\nconst agentId = agentMap[agentAlias];\nif (!agentId) {\n  return [reply(`❌ *Agente no reconocido: \"${agentAlias}\"*\nPor favor usa uno de los alias de ayuda.`)];\n}\n\nif (!instruction) {\n  return [reply(`⚠️ *Falta la instrucción.*\nPor favor escribe lo que el agente debe hacer.`)];\n}\n\nconst shortInstruction = instruction.split('\\n')[0].substring(0, 50) + (instruction.length > 50 ? '...' : '');\nconst title = `Telegram: ${shortInstruction}`;\n\nreturn [{\n  json: {\n    action: 'create_issue',\n    chatId,\n    replyToMessageId: messageId,\n    agentName: agentMapNames[agentId],\n    agentId,\n    title,\n    description: instruction\n  }\n}];"
      },
      "id": "code-parser-1",
      "name": "ParseCommand",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "equal",
              "value2": "create_issue"
            }
          ]
        }
      },
      "id": "if-action-1",
      "name": "IsCreateIssue",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "additionalFields": {
          "parse_mode": "Markdown",
          "reply_to_message_id": "={{ $json.replyToMessageId }}"
        },
        "chatId": "={{ $json.chatId }}",
        "operation": "sendMessage",
        "text": "={{ $json.text }}"
      },
      "id": "tel-reply-1",
      "name": "TelegramReply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        450
      ],
      "credentials": {
        "telegramApi": {
          "id": "C70mrh8zZbUll0Zw",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "jsonBody": "={{ { \"title\": $json.title, \"description\": $json.description, \"status\": \"todo\", \"priority\": \"medium\", \"assigneeAgentId\": $json.agentId, \"projectId\": \"4b0dea6e-d88c-423f-bde0-680143ee643e\" } }}",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "url": "http://cedetu-paperclipapp-6vqkln:3100/api/companies/87d21d03-de87-46f0-8f1d-27d223f99ce3/issues"
      },
      "id": "http-create-issue-1",
      "name": "PaperclipCreateIssue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "yF6GX0x5QPUy9d4K",
          "name": "Paperclip Bearer Key"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {
          "parse_mode": "Markdown",
          "reply_to_message_id": "={{ $('ParseCommand').item.json.replyToMessageId }}"
        },
        "chatId": "={{ $('ParseCommand').item.json.chatId }}",
        "operation": "sendMessage",
        "text": "=🚀 *Tarea asignada correctamente a {{ $('ParseCommand').item.json.agentName }}*\\n\\n*ID:* {{ $json.identifier }}\\n*Título:* {{ $json.title }}\\n\\n🔗 [Ver en Paperclip](https://paperclip.centrodetutorias.com/cen/issues/{{ $json.id }})"
      },
      "id": "tel-confirm-1",
      "name": "TelegramConfirm",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1050,
        200
      ],
      "credentials": {
        "telegramApi": {
          "id": "C70mrh8zZbUll0Zw",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "IsCreateIssue": {
      "main": [
        [
          {
            "index": 0,
            "node": "PaperclipCreateIssue",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "TelegramReply",
            "type": "main"
          }
        ]
      ]
    },
    "PaperclipCreateIssue": {
      "main": [
        [
          {
            "index": 0,
            "node": "TelegramConfirm",
            "type": "main"
          }
        ]
      ]
    },
    "ParseCommand": {
      "main": [
        [
          {
            "index": 0,
            "node": "IsCreateIssue",
            "type": "main"
          }
        ]
      ]
    },
    "TelegramTrigger": {
      "main": [
        [
          {
            "index": 0,
            "node": "ParseCommand",
            "type": "main"
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "hqtExbNvPA6slEwu"
  },
  "active": true
}
